<!DOCTYPE html>
<html layout:decorator="formLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="geboorte/GSTITEL :: GSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <legend>ERKENNING DOOR HUWELIJK</legend>

    <div class="form-header">KANTMELDING</div>

    <div class="form-group checkDate checkDate7a kantmelding">
      <label class="col-xs-3 control-label">Datum kantmelding:</label>

      <div th:replace="fragments/fields :: datum ('gebkant.kantdag', 'gebkant.kantmnd', 'gebkant.kantjr')"></div>
    </div>

    <div class="form-header extra-top-margin">HUWELIJK</div>

    <div class="form-group checkDate checkDate7a huwelijk">
      <label class="col-xs-3 control-label">Datum huwelijk:</label>

      <div th:replace="fragments/fields :: datum ('gebkant.khuwdag', 'gebkant.khuwmnd', 'gebkant.khuwjr')"></div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Gemeente:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{gebkant.khuwgem}" hsn:field="gebkant.khuwgem"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Aktenummer:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{gebkant.khuwanr}" hsn:field="gebkant.khuwanr"/>
      </div>
    </div>

    <div class="form-header extra-top-margin">ECHTGENOOT</div>

    <div
        th:include="fragments/groups-of-fields :: namen ('gebkant.kanmvad', 'gebkant.kvrn1vad', 'gebkant.kvrn2vad', 'gebkant.kvrn3vad', false)"></div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/geboorte/GS7.js" hsn:src="@{/js/geboorte/GS7.js}"></script>
</th:block>
</body>
</html>