<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<div layout:fragment="content">
  <form method="post" class="form-horizontal">
    <fieldset class="content-spacing">
      <div class="form-group form-inline text-center">
        <label class="control-label" th:if="${akte.isCorrection()} == false">
          Nog een akte of kaart invoeren? j / n
        </label>

        <label class="control-label" th:if="${akte.isCorrection()}">
          Nog een correctie? j / n
        </label>

        <input type="text" class="form-control form-control-digit required spacing" data-valid-chars="j;n" maxlength="1"
               id="anotherFlow" name="anotherFlow"/>
      </div>
    </fieldset>

    <fieldset class="content-spacing" th:include="fragments/navigation :: navigation (false, false)"></fieldset>
  </form>
</div>
</body>
</html>