<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset class="content-spacing" layout:fragment="main">
  <div class="form-main-header">GEBOORTE-AKTEN</div>

  <div class="form-group extra-top-margin">
    <div class="sub-form-group">
      <label class="col-xs-8 control-label">Zijn het akten voor de HSN-basissteekproef? j / n</label>

      <div class="col-xs-1">
        <input type="text" class="form-control form-control-digit required" id="basis" name="basis"
               maxlength="1" data-valid-chars="j;n"/>
      </div>
    </div>
  </div>

  <div class="form-group" data-show-when="#basis" data-has-values-in="n">
    <label class="col-xs-8 control-label">Betreft het hier beperkte invoer? j / n</label>

    <div class="col-xs-1">
      <input type="text" class="form-control form-control-digit required" id="invbeper" name="invbeper"
             maxlength="1" data-valid-chars="j;n"/>
    </div>
  </div>

  <div class="pull-right">
    <button type="submit" name="next" class="btn btn-default btn-right-spacing btn-sm btn-next">
      Volgende
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('GSTART')"></footer>
</body>
</html>