<!DOCTYPE html>
<html layout:decorator="mainLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset layout:fragment="main">
  <table class="table">
    <thead>
    <tr>
      <th>Ident. Nummer</th>
      <th>Achternaam</th>
      <th>Voornamen</th>
      <th>Huwelijksdatum</th>
      <th>Subtotaal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curHuw,stat : ${overview}">
      <td th:utext="${curHuw.idnr}"></td>
      <th:block th:if="${curHuw.gebsex == 'm'}">
        <td th:utext="${curHuw.anmhm}"></td>
        <td th:utext="${T(org.iish.hsn.invoer.util.Utils).getFirstNames(curHuw.vrn1hm, curHuw.vrn2hm, curHuw.vrn3hm)}"></td>
      </th:block>
      <th:block th:if="${curHuw.gebsex == 'v'}">
        <td th:utext="${curHuw.anmhv}"></td>
        <td th:utext="${T(org.iish.hsn.invoer.util.Utils).getFirstNames(curHuw.vrn1hv, curHuw.vrn2hv, curHuw.vrn3hv)}"></td>
      </th:block>
      <td th:utext="${T(org.iish.hsn.invoer.util.Utils).getDateAsString(curHuw.huw.hdag, curHuw.huw.hmaand, curHuw.huw.hjaar)}"></td>
      <td th:utext="${stat.index + 1}"></td>
    </tr>
    <tr th:if="${overview.size() == 0}">
      <td colspan="5" class="text-center">EINDE BESTAND / echter niets gevonden!</td>
    </tr>
    </tbody>
  </table>

  <div class="pull-right content-spacing">
    <button type="submit" name="stop" class="btn btn-default btn-right-spacing btn-sm btn-stop">
      Stoppen
    </button>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('HOVERZ')"></footer>
</body>
</html>