<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset class="title" layout:fragment="title">
  <legend align="center">INVOER VAN HUWELIJKSAKTEN</legend>

  <div class="form-main-header">
    eerst volledige identificatie
  </div>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header">Datum en plaats VONNIS scheiding:</div>

    <div class="form-group checkDateDefault">
      <label class="col-xs-3 control-label">Datum:</label>

      <div th:replace="fragments/fields :: datum ('huwknd.sdag', 'huwknd.smaand', 'huwknd.sjaar')"></div>
    </div>

    <div class="form-group"
         th:replace="fragments/complete-fields :: plaats ('huwknd.splts', 'Plaats:')"></div>

    <div class="form-header extra-top-margin">Datum en plaats INSCHRIJVING echtscheiding in register:</div>

    <div class="form-group checkDateDefault">
      <label class="col-xs-3 control-label">Datum:</label>

      <div th:replace="fragments/fields :: datum ('huwknd.idag', 'huwknd.imaand', 'huwknd.ijaar')"></div>
    </div>

    <div class="form-group"
         th:replace="fragments/complete-fields :: plaats ('huwknd.iplts', 'Plaats:')"></div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, true)"></fieldset>
</body>
</html>