<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset class="title" layout:fragment="title">
  <legend align="center">INVOER VAN HUWELIJKSAKTEN</legend>

  <div class="form-main-header">
    eerst volledige identificatie
  </div>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-group" th:if="${akte.isCorrection()}">
      <label class="col-xs-3 control-label">HUWELIJKSDATUM:</label>

      <div class="col-xs-4">
        <p class="form-control-static">
          <span th:utext="${akte.huwknd.huw.hdag} ? ${akte.huwknd.huw.hdag}"></span> /
          <span th:utext="${akte.huwknd.huw.hmaand} ? ${akte.huwknd.huw.hmaand}"></span> /
          <span th:utext="${akte.huwknd.huw.hjaar} ? ${akte.huwknd.huw.hjaar}"></span>
        </p>
      </div>
    </div>

    <div class="form-group" th:if="${akte.isCorrection()}">
      <label class="col-xs-3 control-label">Tijdstip huwelijk:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control form-control-digit required" data-min-value="1" data-max-value="24"
               th:field="*{huwttl.huur}" hsn:field="huwttl.huur"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Nummer van de akte:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control form-control-digit required" th:field="*{huwttl.haktenr}" hsn:field="huwttl.haktenr"/>
      </div>
    </div>

    <div class="form-group"
         th:replace="fragments/complete-fields :: plaats ('huwttl.hplts', 'Naam van de gemeente:')"></div>

    <th:block th:if="${akte.isCorrection()} == false">
      <div class="form-group extra-top-margin">
        <label class="col-xs-6 control-label">Aantal getuigen bij deze akte:</label>

        <div class="col-xs-4">
          <input type="text" class="form-control form-control-digit" th:field="*{huwknd.ngtg}" hsn:field="huwknd.ngtg"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-6 control-label">Worden er voorkinderen genoemd bij deze akte? j / n</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
                 th:field="*{huwknd.erken}" hsn:field="huwknd.erken"/>
        </div>
      </div>
    </th:block>

    <div class="form-group">
      <label class="col-xs-6 control-label">Is dit huwelijk ontbonden door scheiding? j / n</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
               th:field="*{huwknd.scheidng}" hsn:field="huwknd.scheidng"/>
      </div>
    </div>

    <div class="alert alert-info extra-top-margin" role="alert"
         data-show-when="#huwknd\.scheidng" data-has-values-in="n"
         th:if="${akte.isCorrection()} and (${akte.huwknd.sdag} != 0)">
      Oorspronkelijk wel een scheiding ingevoerd!
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/huwelijk/HS0A1.js" hsn:src="@{/js/huwelijk/HS0A1.js}"></script>
</th:block>
</body>
</html>