<!DOCTYPE html>
<html layout:decorate="~{formLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset class="title content-spacing" layout:fragment="title">
  <legend align="center" th:if="${akte.isCorrection()} == false">INVOER VAN HUWELIJKSAKTEN</legend>
  <legend align="center" th:if="${akte.isCorrection()}">CORRECTIE VAN HUWELIJKSAKTEN</legend>

  <div class="form-main-header">
    eerst volledige identificatie
  </div>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header">Datum en plaats VONNIS scheiding:</div>

    <div class="form-group checkDateDefault">
      <label class="col-xs-3 control-label">Datum:</label>

      <div th:replace="fragments/fields :: datum ('huwknd.sdag', 'huwknd.smaand', 'huwknd.sjaar')"></div>
    </div>

    <div class="form-group"
         th:replace="fragments/complete-fields :: plaats ('huwknd.splts', 'Plaats:')"></div>

    <div class="form-header extra-top-margin">Datum en plaats INSCHRIJVING echtscheiding in register:</div>

    <div class="form-group checkDateDefault">
      <label class="col-xs-3 control-label">Datum:</label>

      <div th:replace="fragments/fields :: datum ('huwknd.idag', 'huwknd.imaand', 'huwknd.ijaar')"></div>
    </div>

    <div class="form-group"
         th:replace="fragments/complete-fields :: plaats ('huwknd.iplts', 'Plaats:')"></div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, true)"></fieldset>
</body>
</html>