<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="huwelijk/HSTITEL :: HSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <legend class="form-main-header">GEGEVENS VADER VAN DE BRUIDEGOM:</legend>

    <div class="form-group">
      <label class="col-xs-5 control-label">Leeft deze nog? j/n/o</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n;o"
               th:field="*{huwknd.levvrhm}" hsn:field="huwknd.levvrhm"/>
      </div>
    </div>

    <input type="hidden" data-set-value-when="#toestemming-geven" data-has-values-in="j"
           data-then-value-of="#toestemming-kode" data-else-value-of="#toestemming-geven"
           th:field="*{huwknd.toevrhm}" hsn:field="huwknd.toevrhm"/>

    <div class="form-group" data-show-when="#huwknd\.levvrhm" data-has-values-in="j">
      <div class="form-group">
        <label for="toestemming-geven" class="col-xs-10 control-label">
          Geeft deze toestemming tot het huwelijk? j (ja) / n (nee) / i (jur. irrelevant) / g (geen antw)
        </label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required"
                 id="toestemming-geven" name="toestemming-geven"
                 maxlength="1" data-valid-chars="j;n;g;i" data-byz="n;g"
                 th:value="${#arrays.contains({'s', 'm', 'a', 'k'}, akte.huwknd.toevrhm)} ? 'j' : ${akte.huwknd.toevrhm}"/>
        </div>
      </div>

      <div class="form-group" data-show-when="#toestemming-geven" data-has-values-in="j" style="display: none;">
        <div class="form-group">
          <label for="toestemming-kode" class="col-xs-7 control-label">
            Aard toestemming? s (schrift.) /m (mond.) /a (anders) /k (notar.akte)
          </label>

          <div class="col-xs-2">
            <input type="text" id="toestemming-kode" name="toestemming-kode" maxlength="1"
                   class="form-control form-control-digit required" data-valid-chars="s;m;a;k" data-byz="a"
                   th:value="${akte.huwknd.toevrhm}"/>
          </div>
        </div>
      </div>
    </div>

    <th:block
        th:include="fragments/groups-of-fields :: namen ('huwknd.anmvrhm', 'huwknd.vrn1vrhm', 'huwknd.vrn2vrhm', 'huwknd.vrn3vrhm', false)">
    </th:block>

    <div data-show-when="#huwknd\.levvrhm" data-has-values-in="j">
      <div class="form-group extra-top-margin"
           th:include="fragments/complete-fields :: beroep ('huwknd.brpvrhm', 'Beroep:')"></div>

      <div class="form-group extra-top-margin">
        <label class="col-xs-3 control-label">Leeftijd:</label>

        <div class="col-xs-2">
          <input type="text" class="form-control" data-replace=":-1;0:-1" th:field="*{huwknd.lftjvrhm}" hsn:field="huwknd.lftjvrhm"/>
        </div>
      </div>

      <div class="form-group"
           th:replace="fragments/complete-fields :: plaats ('huwknd.adrvrhm', 'Woonplaats:')"></div>

      <div class="extra-top-margin text-center" data-show-when="#huwknd\.toevrhm" data-has-values-in="m"
           th:include="fragments/complete-fields :: handtekening ('huwknd.hndvrhm')">
      </div>
    </div>

    <div class="form-group extra-top-margin" data-show-when="#huwknd\.levvrhm" data-has-values-in="n"
         th:include="fragments/complete-fields :: plaats ('huwknd.plovvrhm', 'Plaats overlijden:')"></div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/huwelijk/HS2.js" th:src="@{/js/huwelijk/HS2.js}"></script>
</th:block>
</body>
</html>