<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="huwelijk/HSTITEL :: HSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <legend th:if="${akte.isCorrection()} == false">INVOER</legend>
    <legend th:if="${akte.isCorrection()}">CORRECTIE</legend>

    <div class="form-group">
      <label class="col-xs-7 control-label" th:if="${akte.isCorrection()} == false">Aantal huwelijksafkondigen:</label>
      <label class="col-xs-7 control-label" th:if="${akte.isCorrection()}">Het aantal ingevoerde huwelijksafkondigingen
        is:</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit" id="noHuwAfk" name="noHuwAfk"
               maxlength="1" data-valid-chars="0;1;2;3;4;5;6;7;8" data-ajax-update="#huwAfk"
               th:value="${(akte.huwafk.size() > 0) ? akte.huwafk.size() : 2}"/>
      </div>
    </div>

    <div class="extra-top-margin form-table">
      <div class="form-group form-table-header">
        <label class="col-xs-1 control-label">Volgnr</label>
        <label class="col-xs-3 control-label">Datum</label>
        <label class="col-xs-5 control-label">Plaatsnaam</label>
      </div>

      <div class="form-table-body" id="huwAfk" th:fragment="huwAfk" th:object="${akte}">
        <th:block th:each="curHuwAfk,stat : *{huwafk}">
          <div class="form-group">
            <div class="sub-form-group col-xs-1">
              <p class="form-control-static" th:utext="${akte.huwafk[__${stat.index}__].hwaknr}">1</p>
            </div>

            <div class="sub-form-group col-xs-3 form-inline checkDateDefault"
                 th:include="fragments/fields :: datum ('huwafk[__${stat.index}__].hwakdg', 'huwafk[__${stat.index}__].hwakmd', 'huwafk[__${stat.index}__].hwakjr')">
            </div>

            <div class="sub-form-group col-xs-5">
              <input type="text" class="form-control plaats" th:field="*{huwafk[__${stat.index}__].hwakpl}"/>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>
</body>
</html>