<!DOCTYPE html>
<html layout:decorate="~{mainLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset class="content-spacing" layout:fragment="main">
  <div class="alert alert-warning" role="alert">
    U kunt niet terug naar het vorige scherm. <br/>
    U wordt binnen enkele seconden terug gestuurd naar het laatste scherm.
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('')"></footer>

<th:block layout:fragment="js">
  <script language="JavaScript">
    setTimeout(function () { history.forward(); }, 5000); // Wait 5 seconds
  </script>
</th:block>
</body>
</html>