<!DOCTYPE html>
<html layout:decorator="mainLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset layout:fragment="main" class="content-spacing">
  <div class="form-big-header text-danger">Er is iets fout gegaan!</div>

  <div class="extra-top-margin">
    <p class="text-center">
      <strong>Meld alstublieft de volgende foutmelding:</strong> <br/>
      Fourmelding: <span th:utext="${exception.message}"></span> <br/>
      Pagina: <span th:utext="${request.requestURL}"></span> <br/>
    </p>
  </div>

  <div class="well well-sm scroll extra-top-margin"
       th:if="${#lists.contains(@environment.getActiveProfiles(), 'development')}">
    <th:block th:each="ste : ${exception.stackTrace}">
      <code th:utext="${ste}"></code>
    </th:block>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('ERROR')"></footer>
</body>
</html>