<!DOCTYPE html>
<html layout:decorate="~{mainLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset class="content-spacing" layout:fragment="main">
  <div class="default-label text-center">
    U heeft geen toegang tot deze applicatie! <br /> <br />
    U kunt nu de applicatie sluiten met <kbd><kbd>ctrl</kbd> + <kbd>F4</kbd></kbd>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('Toegang')"></footer>
</body>
</html>