<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset layout:fragment="main">
  <table class="table">
    <thead>
    <tr>
      <th>Ident. Nummer</th>
      <th>Achternaam</th>
      <th>Voornamen</th>
      <th>Subtotaal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curPk,stat : ${overview}">
      <td th:utext="${curPk.idnr}"></td>
      <td th:utext="${T(org.iish.hsn.invoer.util.Utils).getCompleteLastName(curPk.anmperp, curPk.tusperp)}"></td>
      <td th:utext="${T(org.iish.hsn.invoer.util.Utils).getFirstNames(curPk.vnm1perp, curPk.vnm2perp, curPk.vnm3perp)}"></td>
      <td th:utext="${stat.index + 1}"></td>
    </tr>
    </tbody>
  </table>

  <div class="pull-right content-spacing">
    <button type="submit" name="stop" class="btn btn-default btn-right-spacing btn-sm btn-stop">
      Stoppen
    </button>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer"></footer>
</body>
</html>