<!DOCTYPE html>
<html layout:decorator="formLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset class="title" layout:fragment="title">
  <legend align="center">INVOER VAN PERSOONSKAARTEN</legend>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-group">
      <label class="col-xs-6 control-label">IDENTIFICATIE nummer PK-houder:</label>

      <div class="col-xs-4">
        <input type="text" data-lookup="pkknd" class="form-control rp-idnr allow-large-idnrs required"
               th:field="*{pkknd.idnr}" hsn:field="pkknd.idnr"/>
      </div>
    </div>

    <p class="fail text-danger text-center" style="display: none;"></p>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, false)"></fieldset>
</body>
</html>