<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="persoonskaart/PSTITEL :: PSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="alert alert-info" role="alert">
        Let op! Zodra er geen beroepen meer zijn, vak leeg laten. <br/>
        Beroepen op originele volgorde invoeren (‘dubbele’ beroepen vermelden als één beroep).
    </div>

    <div id="brp" class="extra-top-margin" th:fragment="brp" th:object="${akte}">
      <th:block th:each="curPkbrp,stat : *{pkbrp}">
        <div class="pk-beroep" th:with="vgnrbrp=${akte.pkbrp[__${stat.index}__].vgnrbrp}">
          <div class="form-group">
            <div class="sub-form-group noAutoNext">
              <label class="col-xs-1 control-label"
                     th:utext="${vgnrbrp + 'e beroep:'}" style="width:13%;">Beroep:</label>

              <div class="col-xs-1" style="width:37%;">
                <input type="text" class="form-control beroep"
                       th:field="*{pkbrp[__${stat.index}__].beroepp}"
                       hsn:field="pkbrp[__${stat.index}__].beroepp"/>
              </div>
            </div>

            <div class="sub-form-group">
              <label class="col-xs-1 control-label" style="width:16%;">Positie: h / o / n</label>

              <div class="col-xs-1" style="width:8%;">
                <input type="text" class="form-control form-control-digit positie" data-valid-chars="h;o;n"
                       maxlength="1" th:field="*{pkbrp[__${stat.index}__].brpposp}"
                       th:classappend="${(stat.index + 1) lt akte.pkbrp.size()} ? 'required'"/>
              </div>
            </div>

            <div class="sub-form-group">
              <label class="col-xs-1 control-label" style="width:18%;">Doorgehaald? j / n</label>

              <div class="col-xs-1" style="width:8%;">
                <input type="text" class="form-control form-control-digit doorgehaald" data-valid-chars="j;n"
                       maxlength="1" th:field="*{pkbrp[__${stat.index}__].dhbrppp}"
                       th:classappend="${(stat.index + 1) lt akte.pkbrp.size()} ? 'required'"/>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/persoonskaart/PS3.js" th:src="@{/js/persoonskaart/PS3.js}"></script>
</th:block>
</body>
</html>