<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="persoonskaart/PSTITEL :: PSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <legend th:utext="${akte.curPkhuw.vnrhuwp + 'e HUWELIJK'}">1e HUWELIJK</legend>

    <div class="form-header">Gegevens echtgenoot/-ote:</div>

    <th:block
        th:include="fragments/groups-of-fields :: namen ('curPkhuw.anmhuwp', 'curPkhuw.vn1huwp', 'curPkhuw.vn2huwp', 'curPkhuw.vn3huwp', false)">
    </th:block>

    <div class="form-group">
      <label class="col-xs-3 control-label">GEB dat/plts:</label>

      <div class="col-xs-9 form-inline">
        <div class="sub-form-group checkDateDefault" style="display:inline;">
          <th:block
              th:include="fragments/fields :: datum ('curPkhuw.gdghuwp', 'curPkhuw.gmdhuwp', 'curPkhuw.gjrhuwp')">
          </th:block>
        </div>

        <div class="sub-form-group" style="display:inline;">
          <input type="text" class="form-control spacing plaats"
                 th:field="*{curPkhuw.gplhuwp}" hsn:field="curPkhuw.gplhuwp"/>
        </div>
      </div>
    </div>

    <div class="form-group" th:if="${akte.pkknd.pktype == 7}"
         th:include="fragments/complete-fields :: beroep ('curPkhuw.brphuwp', 'Beroep:')"></div>

    <div class="form-group" th:if="${akte.pkknd.pktype == 7}">
      <label class="col-xs-3 control-label">Godsdienst:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{curPkhuw.gsdhuwp}" hsn:field="curPkhuw.gsdhuwp"/>
      </div>
    </div>

    <div class="form-header extra-top-margin">Gegevens huwelijk:</div>

    <div class="form-group checkDateDefault">
      <label class="col-xs-3 control-label">Huwelijksdatum:</label>

      <div th:replace="fragments/fields :: datum ('curPkhuw.hdghuwp', 'curPkhuw.hmdhuwp', 'curPkhuw.hjrhuwp')"></div>
    </div>

    <div class="form-group"
         th:include="fragments/complete-fields :: plaats ('curPkhuw.hplhuwp', 'Huwelijksplaats:')">
    </div>

    <div class="form-group checkDateDefault">
      <label class="col-xs-3 control-label">Ontbindingsdatum:</label>

      <div th:replace="fragments/fields :: datum ('curPkhuw.odghuwp', 'curPkhuw.omdhuwp', 'curPkhuw.ojrhuwp')"></div>
    </div>

    <div class="form-group"
         th:include="fragments/complete-fields :: plaats ('curPkhuw.oplhuwp', 'Plaats van ontbinding:')">
    </div>

    <div class="form-group">
      <label class="col-xs-7 control-label">
        Reden ontbinding (1=overl, 2=sch, 3=ovrg, 4=bigamie, 9=n.g.)
      </label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="1;2;3;4;9"
               th:field="*{curPkhuw.ordhuwp}" hsn:field="curPkhuw.ordhuwp"/>
      </div>
    </div>

    <th:block th:if="${akte.pkknd.pktype != 8}">
      <div class="form-group checkDateDefault">
        <label class="col-xs-3 control-label">Afvoerdatum:</label>

        <div th:replace="fragments/fields :: datum ('curPkhuw.adghuwp', 'curPkhuw.amdhuwp', 'curPkhuw.ajrhuwp')"></div>
      </div>

      <div class="form-group"
           th:include="fragments/complete-fields :: plaats ('curPkhuw.aplhuwp', 'Plaats van afvoer:')">
      </div>
    </th:block>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>

<span layout:fragment="navigational-form">
  <div class="form-group">
    <label class="col-xs-10 control-label" th:if="${akte.isCorrection()} == false">
      Nog een huwelijk invoeren? j / n
    </label>

    <label class="col-xs-10 control-label"
           th:if="${akte.isCorrection()} and ${akte.curPkhuw.vnrhuwp lt akte.pkhuw.size()}">
      Volgende huwelijken verwijderen? j / n
    </label>

    <label class="col-xs-10 control-label"
           th:if="${akte.isCorrection()} and ${akte.curPkhuw.vnrhuwp ge akte.pkhuw.size()}">
      Nog een huwelijk toevoegen? j / n
    </label>

    <div class="col-xs-2"
         th:if="${akte.isCorrection() == false} or ${akte.curPkhuw.vnrhuwp ge akte.pkhuw.size()}">
      <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
             name="anotherMarriage" id="anotherMarriage"/>
    </div>

    <div class="col-xs-2"
         th:if="${akte.isCorrection()} and ${akte.curPkhuw.vnrhuwp lt akte.pkhuw.size()}">
      <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
             name="delMarriage" id="delMarriage"/>

      <input type="hidden" name="anotherMarriage" data-set-value-when="#delMarriage" data-has-values-in="j"
             data-then-value="n" data-else-value="j"/>
    </div>
  </div>
</span>
</body>
</html>