<!DOCTYPE html>
<html layout:decorate="~{formLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="persoonskaart/PSTITEL :: PSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="alert alert-info" role="alert">
      Bij eerste invoer zijn er
      <th:block th:utext="${akte.pkhuw.size()}">0</th:block>
      huwelijk(en) ingevoerd.
    </div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-6 control-label">
        Wilt u doorgaan met correctie huwelijken? j / n
      </label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
               maxlength="1" id="corMarriage" name="corMarriage"/>
      </div>
    </div>

    <div class="form-group" data-show-when="#corMarriage" data-has-values-in="j"
         th:if="${akte.pkhuw.size()} > 0" style="display:none;">
      <label class="col-xs-6 control-label">
        Wilt u de ingevoerde huwelijken verwijderen? j / n
      </label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
               maxlength="1" id="delMarriage" name="delMarriage"/>
      </div>
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, false)"></fieldset>
</body>
</html>