<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="persoonskaart/PSTITEL :: PSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <legend th:utext="${'Gegevens ' + akte.curPkeigknd.vgnrkdp + 'e kind:'}">Gegevens 1e kind:</legend>

    <th:block
        th:replace="fragments/groups-of-fields :: namen ('curPkeigknd.anmkndp', 'curPkeigknd.vn1kndp', 'curPkeigknd.vn2kndp', 'curPkeigknd.vn3kndp', false)">
    </th:block>

    <div class="form-group extra-top-margin" th:if="${akte.pkknd.pktype != 8}"
         th:include="fragments/complete-fields :: relatie ('curPkeigknd.relkndp', 'Relatie tot PK-houder:', null, false)"></div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-3 control-label">GEB dat/plts:</label>

      <div class="col-xs-9 form-inline">
        <div class="sub-form-group checkDateDefault" style="display:inline;">
          <th:block
              th:include="fragments/fields :: datum ('curPkeigknd.gdgkndp', 'curPkeigknd.gmdkndp', 'curPkeigknd.gjrkndp')">
          </th:block>
        </div>

        <div class="sub-form-group" style="display:inline;">
          <input type="text" class="form-control form-control-large spacing plaats"
                 th:field="*{curPkeigknd.gplkndp}" hsn:field="curPkeigknd.gplkndp"/>
        </div>
      </div>
    </div>

    <th:block th:if="${akte.pkknd.pktype != 8}">
      <div class="form-group">
        <label class="col-xs-3 control-label">HUW dat/plts:</label>

        <div class="col-xs-9 form-inline">
          <div class="sub-form-group checkDateDefault" style="display:inline;">
            <th:block
                th:include="fragments/fields :: datum ('curPkeigknd.gdgkndp', 'curPkeigknd.gmdkndp', 'curPkeigknd.gjrkndp')">
            </th:block>
          </div>

          <div class="sub-form-group" style="display:inline;">
            <input type="text" class="form-control form-control-large spacing plaats"
                   th:field="*{curPkeigknd.hplkndp}" hsn:field="curPkeigknd.hplkndp"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">HUW met, achternaam:</label>

        <div class="col-xs-4">
          <input type="text" class="form-control" th:field="*{curPkeigknd.anmptnp}" hsn:field="curPkeigknd.anmptnp"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Voornmn/voorlttrs:</label>

        <div class="col-xs-4">
          <input type="text" class="form-control" th:field="*{curPkeigknd.vnmptnp}" hsn:field="curPkeigknd.vnmptnp"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">OVL dat/plts:</label>

        <div class="col-xs-9 form-inline">
          <div class="sub-form-group checkDateDefault" style="display:inline;">
            <th:block
                th:include="fragments/fields :: datum ('curPkeigknd.odgkndp', 'curPkeigknd.omdkndp', 'curPkeigknd.ojrkndp')">
            </th:block>
          </div>

          <div class="sub-form-group" style="display:inline;">
            <input type="text" class="form-control form-control-large spacing plaats"
                   th:field="*{curPkeigknd.oplkndp}" hsn:field="curPkeigknd.oplkndp"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">AFV dat/plts:</label>

        <div class="col-xs-9 form-inline">
          <div class="sub-form-group checkDateDefault" style="display:inline;">
            <th:block
                th:include="fragments/fields :: datum ('curPkeigknd.adgkndp', 'curPkeigknd.amdkndp', 'curPkeigknd.ajrkndp')">
            </th:block>
          </div>

          <div class="sub-form-group" style="display:inline;">
            <input type="text" class="form-control form-control-large spacing plaats"
                   th:field="*{curPkeigknd.aplkndp}" hsn:field="curPkeigknd.aplkndp"/>
          </div>
        </div>
      </div>

      <div class="form-group extra-top-margin">
        <label class="col-xs-3 control-label">Evt. aantek:</label>

        <div class="col-xs-5">
          <input type="text" class="form-control" th:field="*{curPkeigknd.aantek}" hsn:field="curPkeigknd.aantek"/>
        </div>
      </div>
    </th:block>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>

<span layout:fragment="navigational-form">
  <div class="form-group">
    <label class="col-xs-10 control-label" th:if="${akte.isCorrection()} == false">Nog een kind invoeren? j /
      n</label>
    <label class="col-xs-10 control-label" th:if="${akte.isCorrection()}">Nog een kind aanvullen of corrigeren? j /
      n</label>

    <div class="col-xs-2">
      <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
             name="anotherChild" id="anotherChild"/>
    </div>
  </div>
</span>
</body>
</html>