<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="persoonskaart/PSTITEL :: PSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-group">
      <label class="col-xs-9 control-label">
        Worden van de PK-houder een of meerdere kinderen vermeld? j / n
      </label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n" maxlength="1"
               id="anotherChild" name="anotherChild"/>
      </div>
    </div>

    <div class="alert alert-warning extra-top-margin" role="alert" th:if="${akte.pkeigknd.size()} gt 0">
      Bij eerste invoer zijn er wel kinderen ingevoerd!!! Aantal:
      <th:block th:utext="${akte.pkeigknd.size()}">0</th:block>
      <br/>
      Deze worden verwijderd als u nu voor 'n' kiest! U kunt ze daarna eventueel wel opnieuw invoeren.
      <br/>
      Als u nu voor 'j' kiest kunt u de kinderen één voor één corrigeren en eventueel nieuwe kinderen toevoegen.
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, false)"></fieldset>
</body>
</html>