<!DOCTYPE html>
<html layout:decorate="~{formLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset class="title content-spacing" layout:fragment="title">
  <div class="form-main-header">
    VERWIJDER PERSOONSKAARTEN
  </div>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="alert alert-info" role="alert">
      <div>
        Het gaat om <span
          th:utext="${T(org.iish.hsn.invoer.util.Utils).getCompleteName(akte.pkknd.anmperp, akte.pkknd.vnm1perp, akte.pkknd.vnm2perp, akte.pkknd.vnm3perp)}"></span>
        <th:block th:if="${akte.refRp}">met identificatienummer <span th:utext="${akte.refRp.idnr}"></span></th:block>
      </div>
    </div>

    <div class="form-group form-inline text-center extra-top-margin">
      <label class="control-label">Alle ingevoerde gegevens van deze bron zullen worden verwijderd! Bevestig met 'bewust':</label>

      <input type="text" class="form-control form-control-small required spacing no-auto-uppercase"
             id="bewust" name="bewust"/>
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: correction-navigation (false)"></fieldset>
</body>
</html>