<!DOCTYPE html>
<html layout:decorator="formLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="bevolkingsregister/BSTITEL :: registrationBSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <textarea class="form-control" rows="8" th:field="*{b4.remarks}" hsn:field="b4.remarks">
    </textarea>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: bev-reg-navigation (${akte}, false, true)"></fieldset>
</body>
</html>