<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset layout:fragment="main">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curBev,stat : *{overview}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free scrollable">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>Idnr</th>
          <th>OPdatum</th>
          <th>Hoofddatum</th>
          <th>Bronnr</th>
          <th>Type</th>
          <th>Plaats</th>
          <th>Begin</th>
          <th>Eind</th>
          <th>Pag/Volg of GK</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curBev,stat : ${overview}"
            th:with="ainb=${@lookupService.getRefAinb(curBev.registrationId.keyToSourceRegister, false)}">
          <td>
            <!-- Idnr -->
            <span class="keyToRP" th:utext="${curBev.registrationId.keyToRP}"></span>
          </td>
          <td>
            <!-- OPdatum -->
            <span th:utext="${curBev.dayEntryRP}"></span>
            /
            <span th:utext="${curBev.monthEntryRP}"></span>
            /
            <span th:utext="${curBev.yearEntryRP}"></span>
          </td>
          <td>
            <!-- Hoofddatum -->
            <span class="dayEntryHead" th:utext="${curBev.registrationId.dayEntryHead}"></span>
            /
            <span class="monthEntryHead" th:utext="${curBev.registrationId.monthEntryHead}"></span>
            /
            <span class="yearEntryHead" th:utext="${curBev.registrationId.yearEntryHead}"></span>
          </td>
          <td>
            <!-- Bronnr -->
            <span class="keyToSourceRegister" th:utext="${curBev.registrationId.keyToSourceRegister}"></span>
          </td>
          <td>
            <!-- Type -->
            <span th:utext="${ainb.typeRegister}"></span>
          </td>
          <td>
            <!-- Plaats -->
            <span th:utext="${ainb.municipality}"></span>
          </td>
          <td>
            <!-- Begin -->
            <span th:utext="${ainb.startYearRegister}"></span>
          </td>
          <td>
            <!-- Eind -->
            <span th:utext="${ainb.endYearRegister}"></span>
          </td>
          <td>
            <!-- Pag/Volg of GK -->
            <span th:utext="${curBev.infoFamilyCardsSystem}"
                  th:if="${!curBev.infoFamilyCardsSystem.trim().isEmpty()}"></span>

            <th:block th:if="${!curBev.pageNumberOfSource.trim().isEmpty()}">
              <span th:utext="${curBev.pageNumberOfSource}"></span>
              /
              <span th:utext="${curBev.numberOfHousehold}"></span>
            </th:block>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs btn-persons" th:id="'btn-person-' + ${stat.index + 1}">
              Overzicht personen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pull-right content-spacing">
    <button type="submit" name="stop" class="btn btn-default btn-right-spacing btn-sm btn-stop">
      Stoppen
    </button>
  </div>

  <div id="personsModal" class="modal" role="dialog" aria-hidden="true" th:if="${registration != null}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="personsBody" th:fragment="personsBody">
        <div class="modal-header">
          <strong class="modal-title">Overzicht personen per inschrijving</strong>
        </div>

        <div class="content-spacing"
             th:with="ainb=${@lookupService.getRefAinb(registration.registrationId.keyToSourceRegister, false)}">
          <div class="panel panel-default no-bottom-margin">
            <div class="panel-body" th:include="bevolkingsregister/BSTITEL :: registration (${registration}, ${ainb})">
            </div>
          </div>
        </div>

        <table class="table table-condensed">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Volgnr</th>
            <th>Achternaam</th>
            <th>Voornamen</th>
            <th>Geb datum</th>
            <th>Geslacht</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="curPer,stat : ${persons}">
            <td>
              <span th:if="${curPer.natureOfPerson == 1 || curPer.natureOfPerson == 5}">*</span>
            </td>
            <td>
              <!-- Volgnr -->
              <span th:utext="${curPer.keyToRegistrationPersons}"></span>
            </td>
            <td>
              <!-- Achternaam -->
              <span th:utext="${curPer.familyName}"></span>
            </td>
            <td>
              <!-- Voornamen -->
              <span th:utext="${curPer.firstName}"></span>
            </td>
            <td>
              <!-- Geb datum -->
              <span th:utext="${curPer.dayOfBirth}"></span>
              /
              <span th:utext="${curPer.monthOfBirth}"></span>
              /
              <span th:utext="${curPer.yearOfBirth}"></span>
            </td>
            <td>
              <!-- Geslacht -->
              <span th:utext="${curPer.sex}"></span>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer"></footer>

<th:block layout:fragment="js">
  <script src="../../static/js/bevolkingsregister/BOVERZ.js" th:src="@{/js/bevolkingsregister/BOVERZ.js}"></script>
</th:block>
</body>
</html>