<!DOCTYPE html>
<html layout:decorator="formTableLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="bevolkingsregister/BSTITEL :: registrationBSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="table">
    <div class="fixed-left-column">
      <div class="fixed">
        <table class="table table-condensed table-form">
          <thead>
          <tr>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="person,stat : *{b2}">
            <td>
              <span></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="free">
        <table class="table table-condensed table-form">
          <thead>
          <tr>
            <th>Oud</th>
            <th>Nieuw</th>
            <th>Achternaam</th>
            <th>Voornamen</th>
            <th>Geb datum</th>
            <th>m/v</th>
          </tr>
          </thead>

          <tbody data:no-lines="${akte.noRegels}">
          <tr th:each="person,stat : *{b2}">
            <td>
              <span class="line" th:utext="${akte.b2[__${stat.index}__].keyToRegistrationPersons}"></span>
            </td>
            <td>
              <input type="text" class="form-control form-control-digit new-key" data-min="0"
                     th:name="'b2[' + __${stat.index}__ + '].keyToRegistrationPersons'"
                     th:id="'b2' + __${stat.index}__ + '.keyToRegistrationPersons'"
                     hsn:field="b2[__${stat.index}__].keyToRegistrationPersons"
                     th:readonly="${@bevolkingsregisterHelper.findKeyOfRp(akte) == (stat.index + 1)} ? 'readonly'"
                     th:value="${@bevolkingsregisterHelper.findKeyOfRp(akte) == (stat.index + 1)} ? ${akte.volgnrOP}"/>
            </td>
            <td>
              <span th:utext="${akte.b2[__${stat.index}__].familyName}"></span>
            </td>
            <td>
              <span th:utext="${akte.b2[__${stat.index}__].firstName}"></span>
            </td>
            <td>
              <span th:utext="${akte.b2[__${stat.index}__].dayOfBirth}"></span>
              /
              <span th:utext="${akte.b2[__${stat.index}__].monthOfBirth}"></span>
              /
              <span th:utext="${akte.b2[__${stat.index}__].yearOfBirth}"></span>
            </td>
            <td>
              <span th:utext="${akte.b2[__${stat.index}__].sex}"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <th:block th:replace="bevolkingsregister/overview-fragments :: overviewModal"></th:block>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: bev-reg-navigation (${akte}, false)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/bevolkingsregister/bevolkingsregister.js"
          hsn:src="@{/js/bevolkingsregister/bevolkingsregister.js}"></script>
  <script src="../../static/js/bevolkingsregister/BS0A1.js" hsn:src="@{/js/bevolkingsregister/BS0A1.js}"></script>
</th:block>
</body>
</html>