<!DOCTYPE html>
<html layout:decorate="~{formTableLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="bevolkingsregister/BSTITEL :: registrationBSTITEL"></fieldset>

<fieldset>
<th:block layout:fragment="table">
<div id="please-wait" class="modal" style="display:block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Nog even geduld!</h4>
        <h4>Bezig om scherm op te zetten...</h4>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in"></div>


<div class="fixed-left-column">
<div class="fixed">
  <table class="table table-condensed table-form">
    <thead>
    <tr>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person,stat : *{b2}">
      <td>
        <span></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="free scrollable">
<table class="table table-condensed table-form" id="registrationAllLines"
       th:fragment="registrationAllLines" th:object="${akte}">
<thead>
<tr>
  <th>Nr</th>
  <th>Ins Dat</th>
  <th>Achternaam</th>
  <th>Voornamen</th>
  <th>Gesl</th>
  <th>*</th>
  <th>Relatie tot hoofd</th>
  <th>Geboortedatum</th>
  <th>Geboorteplaats</th>
  <th>Burgerlijke staat</th>
  <th>Rel</th>
  <th>Datum</th>
  <th>Plaats</th>
  <th>Kerkgenootschap</th>
  <th>Beroep</th>
  <th>Pos</th>
  <th>Herkomst</th>
  <th>Plaats</th>
  <th>Vertrek</th>
  <th>Plaats</th>
  <th>Overljdensdatum</th>
  <th>Overlijdensplaats</th>
  <th>Nationaliteit</th>
  <th>Wettelijk domicilie</th>
  <th>Aanmerkingen</th>
</tr>
</thead>
<tbody th:with="persons=${akte.personsToRender.isEmpty() ? akte.b2 : akte.getPersonsToRenderAndClear()}">
<tr th:each="person,stat : ${persons}" th:with="rp=${persons[__${stat.index}__].rp}" data:rp="${rp}"
    data:copy-prev-person="${rp == akte.curB2.rp} ? 'copy-prev-person'">
<td class="person-byz" data-group="inschrijf">
  <!-- Nr -->
  <span class="line" th:utext="${persons[__${stat.index}__].keyToRegistrationPersons}"></span>

  <div th:replace="bevolkingsregister/byz-fragments :: personByz (${rp})"></div>
</td>
<td data-group="inschrijf">
  <!-- Ins Dat -->
  <div class="sub-form-group">
    <input type="text" class="form-control form-control-digit has-inschrijving required" maxlength="1"
           data-valid-chars="j;n" th:value="${@bevolkingsregisterHelper.hasInschrijfDatum(persons[__${stat.index}__])}"
           th:id="${'ins-datum-' + rp}"/>
  </div>

  <div class="sub-form-group datum-inschrijving spacing checkDateBevReg fullCheck"
       th:include="fragments/fields :: datum ('b2[__${rp-1}__].dayOfRegistration', 'b2[__${rp-1}__].monthOfRegistration', 'b2[__${rp-1}__].yearOfRegistration')">
  </div>
</td>
<td data-group="persoon">
  <!-- Achternaam -->
  <input type="text" class="form-control form-control-medium required lastName"
         th:field="*{b2[__${rp-1}__].familyName}"
         hsn:field="b2[__${stat.index}__].familyName"/>
</td>
<td data-group="persoon">
  <!-- Voornamen -->
  <input type="text" class="form-control form-control-medium required firstName"
         th:field="*{b2[__${rp-1}__].firstName}"
         hsn:field="b2[__${stat.index}__].firstName"/>
</td>
<td data-group="persoon">
  <!-- G -->
  <input type="text" class="form-control form-control-digit required sex" data-valid-chars="m;v;o"
         th:field="*{b2[__${rp-1}__].sex}" hsn:field="b2[__${stat.index}__].sex"/>
</td>
<td data-group="relatie">
  <!-- * -->
  <span class="ind" th:style="${akte.b3Rel[__${rp}__][0].valueOfRelatedPerson le 0} ? 'display:none;'">
    *
  </span>
</td>
<td th:class="${akte.refAinb.typeRegister == 'C'} ? 'personDynamic only-head' : 'personDynamic'"
    data:type="${akte.refAinb.typeRegister != 'C'} ? 'RELATIE_TOV_HOOFD'" data:person="${rp}"
    th:classappend="${akte.b3Rel[__${rp}__].size() > 1} ? 'multiple-person-dynamic'" data-group="relatie">
  <span th:if="${(akte.refAinb.typeRegister == 'C') and (rp == 1)}"
        th:utext="${akte.b3Rel[__${rp}__][0].contentOfDynamicData}"></span>

  <!-- Rel -->
  <th:block th:if="${(akte.refAinb.typeRegister != 'C') or (rp != 1)}"
            th:include="fragments/fields :: relatie (null, 'b3Rel[__${rp}__][0].contentOfDynamicData', true)">
  </th:block>

  <input type="hidden" class="relatieRelatedHidden" th:field="*{b3Rel[__${rp}__][0].valueOfRelatedPerson}"/>
  <input type="hidden" class="relatieDynamicHidden" th:field="*{b3Rel[__${rp}__][0].dynamicData2}"/>

  <div class="relatieRegelPopup" style="display:none;">
    <div class="form-inline">
      <div class="form-group">
        <label class="control-label">Regelnr. relatie:</label>

        <input type="text" class="form-control form-control-digit spacing f9-input" data-min-value="-3"
               th:value="${akte.b3Rel[__${rp}__][0].valueOfRelatedPerson}"
               hsn:field="b3Rel[__${rp}__][0].valueOfRelatedPerson"/>
      </div>
    </div>
  </div>

  <input type="hidden" class="relatieDateHoofd day"
         th:value="${@bevolkingsregisterHelper.getDayFromDateExplicietHoofd(akte.b3Rel[__${rp}__][0])}"/>
  <input type="hidden" class="relatieDateHoofd month"
         th:value="${@bevolkingsregisterHelper.getMonthFromDateExplicietHoofd(akte.b3Rel[__${rp}__][0])}"/>
  <input type="hidden" class="relatieDateHoofd year"
         th:value="${@bevolkingsregisterHelper.getYearFromDateExplicietHoofd(akte.b3Rel[__${rp}__][0])}"/>

  <div class="relatieDateHoofdPopup" style="display:none;">
    <div class="form-inline relatieDateHoofdPopupContent">
      <div class="form-group checkDateBevReg fullCheck noNeg afterHfdDatum">
        <label class="control-label">Datum expliciet hoofd:</label>

        <input type="text" class="form-control form-control-digit day dateInput spacing" maxlength="2"
               th:value="${@bevolkingsregisterHelper.getDayFromDateExplicietHoofd(akte.b3Rel[__${rp}__][0])}"/>
        /
        <input type="text" class="form-control form-control-digit month dateInput" maxlength="2"
               th:value="${@bevolkingsregisterHelper.getMonthFromDateExplicietHoofd(akte.b3Rel[__${rp}__][0])}"/>
        /
        <input type="text" class="form-control form-control-small year dateInput" maxlength="4"
               th:value="${@bevolkingsregisterHelper.getYearFromDateExplicietHoofd(akte.b3Rel[__${rp}__][0])}"/>
      </div>
    </div>
  </div>

  <div class="relatieRegelInterprPopup" style="display:none;">
    <div class="form-horizontal relatieRegelInterprPopupContent" style="width:300px">
      <div class="form-group">
        <label class="col-xs-9 control-label">
          Regelnummer vader/moeder:
        </label>

        <div class="col-xs-3">
          <input type="text" class="form-control form-control-digit required regel" data-min-value="-3"
                 th:value="${akte.b3Rel[__${rp}__][0].valueOfRelatedPerson}"
                 hsn:field="b3Rel[__${rp}__][0].valueOfRelatedPerson"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-9 control-label">
          Basis/aard interpretatie, code:
        </label>

        <div class="col-xs-3">
          <input type="text" class="form-control form-control-digit required kode" maxlength="1"
                 th:value="${akte.b3Rel[__${rp}__][0].dynamicData2}" hsn:field="b3Rel[__${rp}__][0].dynamicData2"/>
        </div>
      </div>
    </div>
  </div>
</td>
<td class="geb-date-person" data-group="geboorte" data:is-op="${rp == akte.volgnrOP}"
    data:op-geb-day="${akte.op != null and rp != akte.volgnrOP} ? ${akte.op.dayOfBirth}"
    data:op-geb-month="${akte.op != null and rp != akte.volgnrOP} ? ${akte.op.monthOfBirth}"
    data:op-geb-year="${akte.op != null and rp != akte.volgnrOP} ? ${akte.op.yearOfBirth}">
  <!-- Geb dat -->
  <div class="sub-form-group checkDateBevReg fullCheck geb-date-person-parent"
       th:include="fragments/fields :: datum ('b2[__${rp-1}__].dayOfBirth', 'b2[__${rp-1}__].monthOfBirth', 'b2[__${rp-1}__].yearOfBirth')">
  </div>

  <input type="hidden" class="volgende-inschrijving" th:field="*{b2[__${rp-1}__].natureOfPerson}"/>

  <div class="volgendeInschrijvingOpPopup" style="display:none;">
    <div class="form-inline">
      <div class="form-group">
        <label class="control-label">Betreft het hier een volgende inschrijving van de OP? j / n:</label>

        <input type="text" class="form-control form-control-digit spacing is-next-rp" maxlength="1"
               data-valid-chars="j;n"
               data:person="${rp}"/>
      </div>
    </div>
  </div>
</td>
<td data-group="geboorte">
  <!-- Geb plaats -->
  <input type="text" class="form-control form-control-medium plaats required placeOfBirth"
         th:field="*{b2[__${rp-1}__].placeOfBirth}" hsn:field="b2[__${stat.index}__].placeOfBirth"/>
</td>
<td class="personDynamic" data-type="BURGELIJKE_STAND" data-group="burgelijk"
    th:classappend="${akte.b3Brg[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- Brg -->
  <th:block
      th:include="fragments/fields :: burgelijke-stand ('b3Brg[__${rp}__][0].contentOfDynamicData')">
  </th:block>
</td>
<td class="personDynamic" data-type="BURGELIJKE_STAND" data-group="burgelijk"
    th:classappend="${akte.b3Brg[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- Rel -->
  <div class="sub-form-group burgStandToggle"
       th:style="${#arrays.contains({2,3,5,9}, akte.b3Brg[__${rp}__][0].contentOfDynamicData) == false} ? 'display:none;'">
    <input type="text" class="form-control form-control-digit required burg-stand-relatie" maxlength="2"
           data-min-value="-2" th:field="*{b3Brg[__${rp}__][0].valueOfRelatedPerson}"
           hsn:field="b3Brg[__${rp}__][0].valueOfRelatedPerson"/>
  </div>
</td>
<td class="personDynamic" data-type="BURGELIJKE_STAND" data-group="burgelijk"
    th:classappend="${akte.b3Brg[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- Datum -->
  <div class="sub-form-group checkDateBevReg fullCheck burgStandToggle"
       th:include="fragments/fields :: datum ('b3Brg[__${rp}__][0].dayOfMutation', 'b3Brg[__${rp}__][0].monthOfMutation', 'b3Brg[__${rp}__][0].yearOfMutation')"
       th:style="${#arrays.contains({2,3,5,9}, akte.b3Brg[__${rp}__][0].contentOfDynamicData) == false} ? 'display:none;'">
  </div>
</td>
<td class="personDynamic" data-type="BURGELIJKE_STAND" data-group="burgelijk"
    th:classappend="${akte.b3Brg[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- Plaats -->
  <div class="sub-form-group burgStandToggle"
       th:style="${#arrays.contains({2,3,5,9}, akte.b3Brg[__${rp}__][0].contentOfDynamicData) == false} ? 'display:none;'">
    <input type="text" class="form-control form-control-medium plaats"
           th:field="*{b3Brg[__${rp}__][0].dynamicData2}" hsn:field="b3Brg[__${rp}__][0].dynamicData2"/>
  </div>
</td>
<td class="personDynamic" data-type="KERKGENOOTSCHAP" data-group="kg"
    th:classappend="${akte.b3Kg[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- Kerkg -->
  <input type="text" class="form-control form-control-medium kg required"
         th:field="*{b3Kg[__${rp}__][0].dynamicData2}" hsn:field="b3Kg[__${rp}__][0].dynamicData2"/>
</td>
<td class="personDynamic" data-type="BEROEP" data-group="beroep"
    th:classappend="${akte.b3Brp[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- Beroep -->
  <input type="text" class="form-control form-control-medium beroep required"
         th:field="*{b3Brp[__${rp}__][0].dynamicData2}" hsn:field="b3Brp[__${rp}__][0].dynamicData2"/>
</td>
<td class="personDynamic" data-type="BEROEP" data-group="beroep"
    th:classappend="${akte.b3Brp[__${rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <!-- P -->
  <input type="hidden" th:id="'b3Brp'+__${rp}__+'0.contentOfDynamicData'"
         th:name="'b3Brp['+__${rp}__+'][0].contentOfDynamicData'"
         th:value="${akte.b3Brp[__${rp}__][0].contentOfDynamicData}"/>

  <input type="text" class="form-control form-control-digit required positie" maxlength="1" data-valid-chars="h;o;n"
         th:id="${'p-' + rp}" th:value="${@bevolkingsregisterHelper.getPositieFromCode(akte.b3Brp[__${rp}__][0])}"/>
</td>
<td class="personDynamic" data-type="HERKOMST" data-group="herkomst">
  <!-- Herkomst -->
  <div class="sub-form-group">
    <input type="text" class="form-control form-control-digit has-herkomst has-hvo required" maxlength="1"
           data-valid-chars="j;n" th:id="${'herkomst-' + rp}"
           th:value="${@bevolkingsregisterHelper.hasHerkomstData(akte, persons[__${stat.index}__])}"/>
  </div>

  <div class="sub-form-group spacing checkDateBevReg fullCheck herkomst-datum"
       th:style="${@bevolkingsregisterHelper.hasHerkomstData(akte, persons[__${stat.index}__]) == 'n'} ? 'display:none;'"
       th:include="fragments/fields :: datum ('firstB3Her[__${rp}__].dayOfMutation', 'firstB3Her[__${rp}__].monthOfMutation', 'firstB3Her[__${rp}__].yearOfMutation')">
  </div>
</td>
<td class="personDynamic" data-type="HERKOMST" data-group="herkomst">
  <!-- Plaats -->
  <input type="text" class="form-control form-control-medium plaats herkomst-plaats"
         th:style="${@bevolkingsregisterHelper.hasHerkomstData(akte, persons[__${stat.index}__]) == 'n'} ? 'display:none;'"
         th:field="*{firstB3Her[__${rp}__].dynamicData2}" hsn:field="firstB3Her[__${rp}__].dynamicData2"/>
</td>
<td class="personDynamic" data-type="VERTREK" data-group="vertrek">
  <!-- Vertrek -->
  <div class="sub-form-group">
    <input type="text" class="form-control form-control-digit has-vertrek has-hvo required" maxlength="1"
           data-valid-chars="j;n" th:id="${'vertrek-' + rp}"
           th:value="${@bevolkingsregisterHelper.hasVertrekData(akte, persons[__${stat.index}__])}"/>
  </div>

  <div class="sub-form-group spacing checkDateBevReg fullCheck vertrek-datum"
       th:style="${@bevolkingsregisterHelper.hasVertrekData(akte, persons[__${stat.index}__]) == 'n'} ? 'display:none;'"
       th:include="fragments/fields :: datum ('firstB3Ver[__${rp}__].dayOfMutation', 'firstB3Ver[__${rp}__].monthOfMutation', 'firstB3Ver[__${rp}__].yearOfMutation')">
  </div>
</td>
<td class="personDynamic" data-type="VERTREK" data-group="vertrek">
  <!-- Plaats -->
  <input type="text" class="form-control form-control-medium plaats vertrek-plaats"
         th:style="${@bevolkingsregisterHelper.hasVertrekData(akte, persons[__${stat.index}__]) == 'n'} ? 'display:none;'"
         th:field="*{firstB3Ver[__${rp}__].dynamicData2}" hsn:field="firstB3Ver[__${rp}__].dynamicData2"/>
</td>
<td data-group="overlijden">
  <!-- Ovl dat -->
  <div class="sub-form-group">
    <input type="text" class="form-control form-control-digit required has-overlijden has-hvo" maxlength="1"
           data-valid-chars="j;n" th:id="${'overlijden-' + rp}"
           th:value="${@bevolkingsregisterHelper.hasOverlijdensData(persons[__${stat.index}__])}"/>
  </div>

  <div class="sub-form-group spacing checkDateBevReg fullCheck overlijden-datum"
       th:style="${@bevolkingsregisterHelper.hasOverlijdensData(persons[__${stat.index}__]) == 'n'} ? 'display:none;'"
       th:include="fragments/fields :: datum ('b2[__${rp-1}__].dayOfDecease', 'b2[__${rp-1}__].monthOfDecease', 'b2[__${rp-1}__].yearOfDecease')">
  </div>
</td>
<td data-group="overlijden">
  <!-- Plaats -->
  <input type="text" class="form-control form-control-medium plaats overlijden-plaats"
         th:style="${@bevolkingsregisterHelper.hasOverlijdensData(persons[__${stat.index}__]) == 'n'} ? 'display:none;'"
         th:field="*{b2[__${rp-1}__].placeOfDecease}" hsn:field="b2[__${stat.index}__].placeOfDecease"/>
</td>
<td data-group="overig">
  <!-- Nat -->
  <input type="text" class="form-control form-control-medium nationality"
         th:field="*{b2[__${rp-1}__].nationality}" hsn:field="b2[__${stat.index}__].nationality"/>
</td>
<td data-group="overig">
  <!-- Wet dom -->
  <div class="sub-form-group" th:if="${akte.refAinb.typeRegister != 'C'}">
    <input type="text" class="form-control form-control-medium legalPlaceOfLiving"
           th:field="*{b2[__${rp-1}__].legalPlaceOfLiving}"
           hsn:field="b2[__${stat.index}__].legalPlaceOfLiving"/>
  </div>

  <div class="sub-form-group" th:if="${akte.refAinb.typeRegister == 'C'}"
       th:classappend="${akte.b2[__${rp-1}__].legalPlaceOfLivingInCodes.trim().isEmpty()} ? 'has-an-error has-error-empty'">
    <input type="text" class="form-control form-control-medium legalPlaceOfLiving legalPlaceOfLivingInCodes"
           th:field="*{b2[__${rp-1}__].legalPlaceOfLivingInCodes}"
           hsn:field="b2[__${stat.index}__].legalPlaceOfLivingInCodes"/>
  </div>
</td>
<td data-group="overig">
  <!-- Aanmerk -->
  <input type="text" class="form-control form-control-medium"
         th:field="*{b2[__${rp-1}__].remarks}" hsn:field="b2[__${stat.index}__].remarks"/>
</td>
</tr>
</tbody>
</table>
</div>
</div>

<div th:replace="bevolkingsregister/byz-fragments :: registrationByz"></div>
<div th:replace="bevolkingsregister/modal-fragments :: nrOfLines"></div>
<div th:replace="bevolkingsregister/modal-fragments :: copyLine"></div>

<!-- PERSON DYNAMIC MODALS -->

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (relModal, RELATIE_TOV_HOOFD, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: relModalContent"
         th:fragment="b3ContentRELATIE_TOV_HOOFD"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: relModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (brgModal, BURGELIJKE_STAND, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brgModalContent"
         th:fragment="b3ContentBURGELIJKE_STAND"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brgModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (kgModal, KERKGENOOTSCHAP, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: kgModalContent"
         th:fragment="b3ContentKERKGENOOTSCHAP"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: kgModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (brpModal, BEROEP, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brpModalContent"
         th:fragment="b3ContentBEROEP"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brpModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (herModal, HERKOMST, 0, 2)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: herModalContent"
         th:fragment="b3ContentHERKOMST"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: herModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (verModal, VERTREK, 0, 2)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: verModalContent"
         th:fragment="b3ContentVERTREK"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: verModalForm"></div>
  </th:block>
</th:block>

<th:block th:replace="bevolkingsregister/overview-fragments :: overviewModal"></th:block>
</th:block>
</fieldset>

<fieldset layout:fragment="navigation"
          th:include="fragments/navigation :: bev-reg-navigation (${akte}, false, ${akte.isCorrection() == false})"></fieldset>

<span layout:fragment="navigational-form">
  <p class="navigational status navCurPersonContainer">
    Persoon: <span class="navCurPerson">1</span>
  </p>
</span>

<th:block layout:fragment="js">
  <script src="../../static/js/bevolkingsregister/bevolkingsregister.js"
          hsn:src="@{/js/bevolkingsregister/bevolkingsregister.js}"></script>
  <script src="../../static/js/bevolkingsregister/overview.js" hsn:src="@{/js/bevolkingsregister/overview.js}"></script>
  <script src="../../static/js/bevolkingsregister/BS1.js"
          hsn:src="@{/js/bevolkingsregister/BS1.js}"></script>
  <script src="../../static/js/bevolkingsregister/crud-table.js"
          hsn:src="@{/js/bevolkingsregister/crud-table.js}"></script>
  <script src="../../static/js/bevolkingsregister/person-dynamic.js"
          hsn:src="@{/js/bevolkingsregister/person-dynamic.js}"></script>
</th:block>

<th:block layout:fragment="after-js">
  <script>
    setTimeout(function () {
      $('#please-wait,.modal-backdrop').fadeOut();
    }, 200);
  </script>
</th:block>
</body>
</html>