<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title"
          th:include="bevolkingsregister/BSTITEL :: registration-personBSTITEL (${akte.curB2.rp})"></fieldset>

<fieldset>
<th:block layout:fragment="fields">
<input type="hidden" id="curPerson" name="curPerson" th:value="${akte.curB2.rp}"/>
<input type="hidden" th:field="*{nextPersonKey}" value="0"/>

<div id="currentPerson" th:fragment="currentPerson" data:nr-persons="${akte.b2.size()}" th:object="${akte}"
     data:is-burg-stand-rel-fix="${akte.isBurgStandRelFix()}" data:correction-code="${akte.correctionCode}">
<div class="form-group">
  <div class="sub-form-group">
    <label class="col-xs-3 control-label">HSN-volgnummer:</label>

    <div class="col-xs-1">
      <p class="form-control-static" th:utext="${akte.curB2.keyToRegistrationPersons}"></p>
    </div>
  </div>

  <div data-show-when="#curB2\.familyName" data-has-values-not-in="GEEN OP">
    <div class="sub-form-group">
      <label class="col-xs-3 control-label">Datum inschrijving? j / n</label>

      <div class="col-xs-1">
        <input type="text" class="form-control form-control-digit required has-inschrijving" data-valid-chars="j;n"
               name="datum-inschrijving" id="datum-inschrijving" maxlength="1"
               th:if="${#arrays.contains({'C', 'D'}, akte.refAinb.typeRegister) == false}"
               th:value="${@bevolkingsregisterHelper.hasInschrijfDatum(akte.curB2)}"/>

        <p class="form-control-static" th:if="${#arrays.contains({'C', 'D'}, akte.refAinb.typeRegister)}">
          n
        </p>
      </div>
    </div>

    <div class="sub-form-group datum-inschrijving checkDateBevReg fullCheck"
         th:style="${#arrays.contains({'C', 'D'}, akte.refAinb.typeRegister) or (@bevolkingsregisterHelper.hasInschrijfDatum(akte.curB2) == 'n')} ? 'display:none;'">
      <label class="col-xs-1 control-label">Datum:</label>

      <div class="col-xs-3 form-inline"
           th:include="fragments/fields :: datum ('curB2.dayOfRegistration', 'curB2.monthOfRegistration', 'curB2.yearOfRegistration')">
      </div>
    </div>
  </div>
</div>

<div data-show-when="#curB2\.familyName" data-has-values-not-in="GEEN OP">
  <div class="form-group checkInterprDateBevReg" th:if="${akte.isCorrection()}"
       data-show-when="#datum-inschrijving" data-has-values-in="j" style="display:none;">
    <label class="col-xs-1 col-xs-offset-8 control-label">INTERPR:</label>

    <div class="col-xs-3 form-inline"
         th:include="fragments/fields :: datum ('curB2.dayOfRegistrationAfterInterpretation', 'curB2.monthOfRegistrationAfterInterpretation', 'curB2.yearOfRegistrationAfterInterpretation')">
    </div>
  </div>
</div>

<div class="form-group extra-top-margin">
  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Achternaam:</label>

    <div class="col-xs-4">
      <input type="text" class="form-control required" th:field="*{curB2.familyName}"
             hsn:field="curB2.familyName"/>
    </div>
  </div>

  <div class="sub-form-group" data-show-when="#curB2\.familyName" data-has-values-not-in="GEEN OP">
    <label class="col-xs-2 control-label">Voornamen:</label>

    <div class="col-xs-4">
      <input type="text" class="form-control required" th:field="*{curB2.firstName}" hsn:field="curB2.firstName"/>
    </div>
  </div>
</div>

<div data-show-when="#curB2\.familyName" data-has-values-not-in="GEEN OP">
<div id="RELATIE_TOV_HOOFD_CONTAINER" class="relatieElems personDynamic"
     data:type="${akte.refAinb.typeRegister != 'C'} ? 'RELATIE_TOV_HOOFD'"
     th:fragment="RELATIE_TOV_HOOFD_CONTAINER" th:object="${akte}"
     th:classappend="${akte.refAinb.typeRegister == 'C'} ? 'only-head'">
  <div class="form-group">
    <div class="sub-form-group">
      <label class="col-xs-2 control-label">Geslacht: m/v/o</label>

      <div class="col-xs-1">
        <input type="text" class="form-control form-control-digit required sex" data-valid-chars="m;v;o"
               th:field="*{curB2.sex}" hsn:field="curB2.sex"/>
      </div>
    </div>

    <div class="sub-form-group" data:person="${akte.curB2.rp}"
         th:classappend="${akte.b3Rel[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
      <label class="col-xs-4 control-label">
        Relatie tov hoofd:

                <span class="ind"
                      th:style="${akte.b3Rel[__${akte.curB2.rp}__][0].valueOfRelatedPerson le 0} ? 'display:none;'">
                    *
                </span>
      </label>

      <p class="form-control-static" th:if="${(akte.refAinb.typeRegister == 'C') and (akte.curB2.rp == 1)}"
            th:utext="${akte.b3Rel[__${akte.curB2.rp}__][0].contentOfDynamicData}"></p>

      <th:block th:if="${(akte.refAinb.typeRegister != 'C') or (akte.curB2.rp != 1)}">
        <div th:replace="fragments/fields :: relatie (null, 'b3Rel[__${akte.curB2.rp}__][0].contentOfDynamicData', true)"></div>
      </th:block>

      <input type="hidden" class="relatieRelatedHidden" th:field="*{b3Rel[__${akte.curB2.rp}__][0].valueOfRelatedPerson}"/>
      <input type="hidden" class="relatieDynamicHidden" th:field="*{b3Rel[__${akte.curB2.rp}__][0].dynamicData2}"/>

      <div class="relatieRegelPopup" style="display:none;">
        <div class="form-inline">
          <div class="form-group">
            <label class="control-label">Regelnr. relatie:</label>

            <input type="text" class="form-control form-control-digit spacing f9-input" data-min-value="-3"
                   hsn:field="b3Rel[__${akte.curB2.rp}__][0].valueOfRelatedPerson"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group dateHoofd checkDateBevReg noNeg fullCheck afterHfdDatum" style="display:none;"
       th:classappend="${akte.b3Rel[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
    <label class="col-xs-4 col-xs-offset-3 control-label">
      Datum expliciet hoofd:
    </label>

    <div class="col-xs-4 form-inline">
      <input type="text" class="form-control form-control-digit day dateInput" maxlength="2"
             th:value="${@bevolkingsregisterHelper.getDayFromDateExplicietHoofd(akte.b3Rel[__${akte.curB2.rp}__][0])}"/>
      /
      <input type="text" class="form-control form-control-digit month dateInput" maxlength="2"
             th:value="${@bevolkingsregisterHelper.getMonthFromDateExplicietHoofd(akte.b3Rel[__${akte.curB2.rp}__][0])}"/>
      /
      <input type="text" class="form-control form-control-small year dateInput" maxlength="4"
             th:value="${@bevolkingsregisterHelper.getYearFromDateExplicietHoofd(akte.b3Rel[__${akte.curB2.rp}__][0])}"/>
    </div>
  </div>

  <div class="regelInterpr" style="display:none;"
       th:classappend="${akte.b3Rel[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
    <div class="form-group">
      <label class="col-xs-4 col-xs-offset-3 control-label">
        Regelnummer vader/moeder:
      </label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required regel" data-min-value="-3"
               th:value="${akte.b3Rel[__${akte.curB2.rp}__][0].valueOfRelatedPerson}"
               hsn:field="b3Rel[__${akte.curB2.rp}__][0].valueOfRelatedPerson"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-4 col-xs-offset-3 control-label">
        Basis/aard interpretatie, kode:
      </label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required kode" maxlength="1"
               th:value="${akte.b3Rel[__${akte.curB2.rp}__][0].dynamicData2}"
               hsn:field="b3Rel[__${akte.curB2.rp}__][0].dynamicData2"/>
      </div>
    </div>
  </div>
</div>

<div class="form-group extra-top-margin">
  <label class="col-xs-2 control-label">Geb.datum/-plaats:</label>

  <div class="col-xs-10 form-inline">
    <span class="sub-form-group geb-date-person geb-date-person-parent checkDateBevReg fullCheck"
          data:is-op="${akte.curB2.rp == akte.volgnrOP}"
          data:op-geb-day="${akte.op != null and akte.curB2.rp != akte.volgnrOP} ? ${akte.op.dayOfBirth}"
          data:op-geb-month="${akte.op != null and akte.curB2.rp != akte.volgnrOP} ? ${akte.op.monthOfBirth}"
          data:op-geb-year="${akte.op != null and akte.curB2.rp != akte.volgnrOP} ? ${akte.op.yearOfBirth}">
      <th:block
          th:include="fragments/fields :: datum ('curB2.dayOfBirth', 'curB2.monthOfBirth', 'curB2.yearOfBirth')">
      </th:block>

      <input type="hidden" class="volgende-inschrijving" th:field="*{curB2.natureOfPerson}"/>

      <div class="volgendeInschrijvingOpPopup" style="display:none;">
        <div class="form-inline">
          <div class="form-group">
            <label class="control-label">Betreft het hier een volgende inschrijving van de OP? j / n:</label>

            <input type="text" class="form-control form-control-digit spacing is-next-rp"
                   maxlength="1" data-valid-chars="j;n" data:person="${akte.curB2.rp}"/>
          </div>
        </div>
      </div>
    </span>

    <span class="sub-form-group">
      <input type="text" class="form-control form-control-large spacing plaats required"
             th:field="*{curB2.placeOfBirth}" hsn:field="curB2.placeOfBirth"/>
    </span>
  </div>
</div>

<div class="form-group checkInterprDateBevReg" th:if="${akte.isCorrection()}">
  <label class="col-xs-2 control-label">INTERPR:</label>

  <div class="col-xs-3 form-inline"
       th:include="fragments/fields :: datum ('curB2.dayOfBirthAfterInterpretation', 'curB2.monthOfBirthAfterInterpretation', 'curB2.yearOfBirthAfterInterpretation')">
  </div>
</div>

<div id="BURGELIJKE_STAND_CONTAINER" class="personDynamic" data-type="BURGELIJKE_STAND"
     th:fragment="BURGELIJKE_STAND_CONTAINER" th:object="${akte}"
     th:classappend="${akte.b3Brg[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <div class="form-group extra-top-margin">
    <label class="col-xs-2 control-label">Burg. staat:</label>

    <div
        th:replace="fragments/fields :: burgelijke-stand ('b3Brg[__${akte.curB2.rp}__][0].contentOfDynamicData')">
    </div>
  </div>

  <div class="burgStandToggle"
       th:style="${#arrays.contains({2,3,5,9}, akte.b3Brg[__${akte.curB2.rp}__][0].contentOfDynamicData) == false} ? 'display:none;'">
    <div class="form-group">
      <div class="sub-form-group">
        <label class="col-xs-2 col-xs-offset-2 control-label">Regelnr. relatie:</label>

        <div class="col-xs-1">
          <input type="text" class="form-control form-control-digit required burg-stand-relatie" data-min-value="-2"
                 maxlength="2" th:field="*{b3Brg[__${akte.curB2.rp}__][0].valueOfRelatedPerson}"
                 hsn:field="b3Brg[__${akte.curB2.rp}__][0].valueOfRelatedPerson"/>
        </div>
      </div>

      <div class="sub-form-group checkDateBevReg fullCheck">
        <label class="col-xs-1 control-label">Datum:</label>

        <div
            th:replace="fragments/fields :: datum ('b3Brg[__${akte.curB2.rp}__][0].dayOfMutation', 'b3Brg[__${akte.curB2.rp}__][0].monthOfMutation', 'b3Brg[__${akte.curB2.rp}__][0].yearOfMutation')">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 col-xs-offset-2 control-label">Plaats:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control spacing plaats"
               th:field="*{b3Brg[__${akte.curB2.rp}__][0].dynamicData2}"
               hsn:field="b3Brg[__${akte.curB2.rp}__][0].dynamicData2"/>
      </div>
    </div>
  </div>
</div>

<div class="form-group extra-top-margin personDynamic" id="KERKGENOOTSCHAP_CONTAINER"
     data-type="KERKGENOOTSCHAP"
     th:fragment="KERKGENOOTSCHAP_CONTAINER" th:object="${akte}"
     th:classappend="${akte.b3Kg[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <label class="col-xs-2 control-label">Kerkgenootschap:</label>

  <div th:replace="fragments/fields :: kerkgenootschap ('b3Kg[__${akte.curB2.rp}__][0].dynamicData2', true)"></div>
</div>

<div class="form-group personDynamic" id="BEROEP_CONTAINER" data-type="BEROEP"
     th:fragment="BEROEP_CONTAINER" th:object="${akte}"
     th:classappend="${akte.b3Brp[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Beroep:</label>

    <div th:replace="fragments/fields :: beroep ('b3Brp[__${akte.curB2.rp}__][0].dynamicData2', true)"></div>
  </div>

  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Positie: h/o/n</label>

    <div class="col-xs-3">
      <input type="hidden" th:id="'b3Brp'+__${akte.curB2.rp}__+'0.contentOfDynamicData'"
             th:name="'b3Brp['+__${akte.curB2.rp}__+'][0].contentOfDynamicData'"
             th:value="${akte.b3Brp[__${akte.curB2.rp}__][0].contentOfDynamicData}"/>

      <input type="text" class="form-control form-control-digit required positie" maxlength="1" data-valid-chars="h;o;n"
             id="brp-positie"
             th:value="${@bevolkingsregisterHelper.getPositieFromCode(akte.b3Brp[__${akte.curB2.rp}__][0])}"/>
    </div>
  </div>
</div>

<div class="form-group extra-top-margin personDynamic" id="HERKOMST_CONTAINER" data-type="HERKOMST"
     th:fragment="HERKOMST_CONTAINER" th:object="${akte}"
     th:classappend="${akte.b3Her[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Herkomst? j/n</label>

    <div class="col-xs-1">
      <input type="text" class="form-control form-control-digit required has-herkomst has-hvo" id="herkomst"
             maxlength="1" data-valid-chars="j;n"
             th:value="${@bevolkingsregisterHelper.hasHerkomstData(akte, akte.curB2)}"/>
    </div>
  </div>

  <div class="herkomst-container"
       th:style="${@bevolkingsregisterHelper.hasHerkomstData(akte, akte.curB2) == 'n'} ? 'display:none;'">
    <div class="sub-form-group checkDateBevReg fullCheck">
      <label class="col-xs-1 control-label">Datum:</label>

      <div class="col-xs-3 form-inline"
           th:include="fragments/fields :: datum ('firstB3Her[__${akte.curB2.rp}__].dayOfMutation', 'firstB3Her[__${akte.curB2.rp}__].monthOfMutation', 'firstB3Her[__${akte.curB2.rp}__].yearOfMutation')">
      </div>
    </div>

    <div class="sub-form-group">
      <label class="col-xs-1 control-label">Plaats:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control spacing plaats"
               th:field="*{firstB3Her[__${akte.curB2.rp}__].dynamicData2}"
               hsn:field="firstB3Her[__${akte.curB2.rp}__].dynamicData2"/>
      </div>
    </div>
  </div>
</div>

<div class="form-group personDynamic" id="VERTREK_CONTAINER" data-type="VERTREK"
     th:fragment="VERTREK_CONTAINER" th:object="${akte}"
     th:classappend="${akte.b3Ver[__${akte.curB2.rp}__].size() > 1} ? 'multiple-person-dynamic'">
  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Vertrek? j/n</label>

    <div class="col-xs-1">
      <input type="text" class="form-control form-control-digit required has-vertrek has-hvo" id="vertrek"
             maxlength="1" data-valid-chars="j;n"
             th:value="${@bevolkingsregisterHelper.hasVertrekData(akte, akte.curB2)}"/>
    </div>
  </div>

  <div class="vertrek-container"
       th:style="${@bevolkingsregisterHelper.hasVertrekData(akte, akte.curB2) == 'n'} ? 'display:none;'">
    <div class="sub-form-group checkDateBevReg fullCheck">
      <label class="col-xs-1 control-label">Datum:</label>

      <div class="col-xs-3 form-inline"
           th:include="fragments/fields :: datum ('firstB3Ver[__${akte.curB2.rp}__].dayOfMutation', 'firstB3Ver[__${akte.curB2.rp}__].monthOfMutation', 'firstB3Ver[__${akte.curB2.rp}__].yearOfMutation')">
      </div>
    </div>

    <div class="sub-form-group">
      <label class="col-xs-1 control-label">Plaats:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control spacing plaats"
               th:field="*{firstB3Ver[__${akte.curB2.rp}__].dynamicData2}"
               hsn:field="firstB3Ver[__${akte.curB2.rp}__].dynamicData2"/>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Overlijden? j/n</label>

    <div class="col-xs-1">
      <input type="text" class="form-control form-control-digit required has-overlijden has-hvo" id="overlijden"
             maxlength="1" data-valid-chars="j;n"
             th:value="${@bevolkingsregisterHelper.hasOverlijdensData(akte.curB2)}"/>
    </div>
  </div>

  <div class="overlijden-container"
       th:style="${@bevolkingsregisterHelper.hasOverlijdensData(akte.curB2) == 'n'} ? 'display:none;'">
    <div class="sub-form-group checkDateBevReg fullCheck">
      <label class="col-xs-1 control-label">Datum:</label>

      <div class="col-xs-3 form-inline"
           th:include="fragments/fields :: datum ('curB2.dayOfDecease', 'curB2.monthOfDecease', 'curB2.yearOfDecease')">
      </div>
    </div>

    <div class="sub-form-group">
      <label class="col-xs-1 control-label">Plaats:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control spacing plaats"
               th:field="*{curB2.placeOfDecease}" hsn:field="curB2.placeOfDecease"/>
      </div>
    </div>
  </div>
</div>

<div class="form-group checkInterprDateBevReg overlijden-container" th:if="${akte.isCorrection()}"
     th:style="${@bevolkingsregisterHelper.hasOverlijdensData(akte.curB2) == 'n'} ? 'display:none;'">
  <label class="col-xs-2 col-xs-offset-2 control-label">INTERPR:</label>

  <div class="col-xs-3 form-inline"
       th:include="fragments/fields :: datum ('curB2.dayOfDeceaseAfterInterpretation', 'curB2.monthOfDeceaseAfterInterpretation', 'curB2.yearOfDeceaseAfterInterpretation')">
  </div>
</div>

<div class="form-group extra-top-margin">
  <div class="sub-form-group">
    <label class="col-xs-2 control-label">Nationaliteit:</label>

    <div class="col-xs-3">
      <input type="text" class="form-control nationality"
             th:field="*{curB2.nationality}" hsn:field="curB2.nationality"/>
    </div>
  </div>

  <div class="sub-form-group">
    <label class="col-xs-3 control-label">Wettig domicilie:</label>

    <div class="col-xs-3" th:if="${akte.refAinb.typeRegister != 'C'}">
      <input type="text" class="form-control" th:field="*{curB2.legalPlaceOfLiving}"
             hsn:field="curB2.legalPlaceOfLiving"/>
    </div>

    <div class="col-xs-3" th:if="${akte.refAinb.typeRegister == 'C'}">
      <input type="text" class="form-control required legalPlaceOfLivingInCodes"
             th:field="*{curB2.legalPlaceOfLivingInCodes}" hsn:field="curB2.legalPlaceOfLivingInCodes"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-xs-2 control-label">Aanmerkingen:</label>

  <div class="col-xs-10">
    <input type="text" class="form-control" th:field="*{curB2.remarks}" hsn:field="curB2.remarks"/>
  </div>
</div>
</div>
</div>

<div th:replace="bevolkingsregister/byz-fragments :: registrationByz"></div>
<div th:replace="bevolkingsregister/byz-fragments :: personByz (${akte.curB2.rp})"></div>

<!-- PERSON DYNAMIC MODALS -->

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (relModal, RELATIE_TOV_HOOFD, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: relModalContent"
         th:fragment="b3ContentRELATIE_TOV_HOOFD"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: relModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (brgModal, BURGELIJKE_STAND, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brgModalContent"
         th:fragment="b3ContentBURGELIJKE_STAND"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brgModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (kgModal, KERKGENOOTSCHAP, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: kgModalContent"
         th:fragment="b3ContentKERKGENOOTSCHAP"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: kgModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (brpModal, BEROEP, 1, -1)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brpModalContent"
         th:fragment="b3ContentBEROEP"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: brpModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (herModal, HERKOMST, 0, 2)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: herModalContent"
         th:fragment="b3ContentHERKOMST"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: herModalForm"></div>
  </th:block>
</th:block>

<th:block layout:include="bevolkingsregister/person-dynamic-fragments :: modal (verModal, VERTREK, 0, 2)">
  <th:block layout:fragment="modal-content">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: verModalContent"
         th:fragment="b3ContentVERTREK"></div>
  </th:block>
  <th:block layout:fragment="modal-form">
    <div th:replace="bevolkingsregister/person-dynamic-fragments :: verModalForm"></div>
  </th:block>
</th:block>

<th:block th:replace="bevolkingsregister/overview-fragments :: overviewModal"></th:block>
</th:block>
</fieldset>

<fieldset layout:fragment="navigation"
          th:include="fragments/navigation :: bev-reg-navigation (${akte}, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/bevolkingsregister/bevolkingsregister.js"
          hsn:src="@{/js/bevolkingsregister/bevolkingsregister.js}"></script>
  <script src="../../static/js/bevolkingsregister/BS1.js" hsn:src="@{/js/bevolkingsregister/BS1.js}"></script>
  <script src="../../static/js/bevolkingsregister/crud-table.js"
          hsn:src="@{/js/bevolkingsregister/crud-table.js}"></script>
  <script src="../../static/js/bevolkingsregister/person-dynamic.js"
          hsn:src="@{/js/bevolkingsregister/person-dynamic.js}"></script>
</th:block>
</body>
</html>