<!DOCTYPE html>
<html layout:decorator="formTableLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="bevolkingsregister/BSTITEL :: registration-addressesBSTITEL"></fieldset>

<fieldset>
<th:block layout:fragment="table">
<div class="crud-table-container" th:classappend="${!akte.isCorrection()} ? 'continued'">
<div class="crud-table">
  <div class="fixed-left-column ajax-updated" id="registrationAddresses"
       th:fragment="registrationAddresses" th:object="${akte}" data:number-of-persons="${akte.b2.size()}">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address,stat : *{b6}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free scrollable" id="registrationAddressesTable">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th style="min-width:60px;max-width:60px;">Pers.</th>
          <th style="min-width:60px;max-width:60px;">Volgnr</th>
          <th style="min-width:200px;max-width:200px;">Datum</th>
          <th style="min-width:200px;max-width:200px;" th:if="${akte.isCorrection()}">INTERPR</th>
          <th style="min-width:60px;max-width:60px;">Sim</th>
          <th style="min-width:60px;max-width:60px;">Type</th>
          <th style="min-width:300px;max-width:300px;">Straat etc.</th>
          <th style="min-width:150px;max-width:150px;">Nr</th>
          <th style="min-width:150px;max-width:150px;">Tvg</th>
          <th style="min-width:150px;max-width:150px;">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="address,stat : *{b6}">
          <td>
            <!-- Pers. -->
              <span class="person keyToRegistrationPersons"
                    th:utext="${akte.b6[__${stat.index}__].keyToRegistrationPersons}">
              </span>
          </td>
          <td>
            <!-- Volgnr -->
              <span class="seqNr sequenceNumberToAddresses"
                    th:utext="${akte.b6[__${stat.index}__].sequenceNumberToAddresses}">
              </span>
          </td>
          <td class="dateOrder">
            <!-- Datum -->
            <span class="dayOfAddress day dateInput" th:utext="${akte.b6[__${stat.index}__].dayOfAddress}"></span>
            /
            <span class="monthOfAddress month dateInput" th:utext="${akte.b6[__${stat.index}__].monthOfAddress}"></span>
            /
            <span class="yearOfAddress year dateInput" th:utext="${akte.b6[__${stat.index}__].yearOfAddress}"></span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <!-- INTERPR -->
              <span class="dayOfAddressAfterInterpretation day" maxlength="2"
                    th:utext="${akte.b6[__${stat.index}__].dayOfAddressAfterInterpretation}"></span>
            /
              <span class="monthOfAddressAfterInterpretation month" maxlength="2"
                    th:utext="${akte.b6[__${stat.index}__].monthOfAddressAfterInterpretation}"></span>
            /
              <span class="yearOfAddressAfterInterpretation year" maxlength="4"
                    th:utext="${akte.b6[__${stat.index}__].yearOfAddressAfterInterpretation}"></span>
          </td>
          <td>
            <!-- Sim -->
            <span class="synchroneNumber" th:utext="${akte.b6[__${stat.index}__].synchroneNumber}"></span>
          </td>
          <td>
            <!-- Type -->
            <span class="addressType" th:utext="${akte.b6[__${stat.index}__].addressType}"></span>
          </td>
          <td>
            <!-- Straat etc. -->
            <span class="nameOfStreet" th:utext="${akte.b6[__${stat.index}__].nameOfStreet}"></span>
          </td>
          <td>
            <!-- Nr -->
            <span class="number" th:utext="${akte.b6[__${stat.index}__].number}"></span>
          </td>
          <td>
            <!-- Toevoeging -->
            <span class="additionToNumber" th:utext="${akte.b6[__${stat.index}__].additionToNumber}"></span>
          </td>
          <td>
            <!-- Update -->
            <button type="button" class="btn btn-default btn-xs btn-update">
              Correctie
            </button>

            <!-- Remove -->
            <button type="button" class="btn btn-default btn-xs btn-delete">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="on-no-edit clearfix">
  <div class="pull-right content-spacing">
    <button type="button" class="btn btn-default btn-xs btn-new">
      Nieuw
    </button>
  </div>
</div>

<div class="on-edit extra-top-margin fixed-left-column" style="display:none;">
  <div class="fixed">
    <table class="table table-condensed table-form">
      <tbody>
      <tr>
        <td>
          <span></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="free scrollable">
    <table class="table table-condensed table-form">
      <tbody>
      <tr>
        <td style="min-width:60px;max-width:60px;">
          <!-- Pers. -->
          <input type="text" name="keyToRegistrationPersons" maxlength="2"
                 class="person form-control form-control-digit required zero-allowed"/>
        </td>
        <td style="min-width:60px;max-width:60px;">
          <!-- Volg -->
          <input type="text" name="sequenceNumberToAddresses" class="seqNr form-control form-control-digit required"/>
        </td>
        <td style="min-width:200px;max-width:200px;">
          <div class="sub-form-group dateOrder checkDateBevReg fullCheck">
            <!-- Datum -->
            <input type="text" name="dayOfAddress" class="form-control form-control-digit day dateInput" maxlength="2"/>
            /
            <input type="text" name="monthOfAddress" class="form-control form-control-digit month dateInput" maxlength="2"/>
            /
            <input type="text" name="yearOfAddress" class="form-control form-control-small year dateInput" maxlength="4"/>
          </div>
        </td>
        <td style="min-width:200px;max-width:200px;" th:if="${akte.isCorrection()}">
          <div class="sub-form-group checkInterprDateBevReg">
            <!-- INTERPR -->
            <input type="text" name="dayOfAddressAfterInterpretation" class="form-control form-control-digit day dateInput"
                   maxlength="2"/>
            /
            <input type="text" name="monthOfAddressAfterInterpretation" class="form-control form-control-digit month dateInput"
                   maxlength="2"/>
            /
            <input type="text" name="yearOfAddressAfterInterpretation" class="form-control form-control-small year dateInput"
                   maxlength="4"/>
          </div>
        </td>
        <td style="min-width:60px;max-width:60px;">
          <!-- Sim -->
          <input type="text" name="synchroneNumber" class="form-control form-control-digit integer-field"/>
        </td>
        <td style="min-width:60px;max-width:60px;">
          <!-- Type -->
          <input type="text" class="form-control required adrestype is-id" name="addressType" data-selected="0"/>
        </td>
        <td style="min-width:300px;max-width:300px;">
          <!-- Straat etc. -->
          <input type="text" name="nameOfStreet" class="form-control required" maxlength="40"/>
        </td>
        <td style="min-width:150px;max-width:150px;">
          <!-- Nr -->
          <input type="text" name="number" class="form-control" maxlength="9"/>
        </td>
        <td style="min-width:150px;max-width:150px;">
          <!-- Tvg -->
          <input type="text" name="additionToNumber" class="form-control" maxlength="15"/>
        </td>
        <td style="min-width:150px;max-width:150px;">
          <!-- Save -->
          <button type="button" class="btn btn-default btn-xs btn-save-new">
            Opslaan
          </button>

          <button type="button" class="btn btn-default btn-xs btn-save-update">
            Opslaan
          </button>

          <!-- Cancel -->
          <button type="button" class="btn btn-default btn-xs btn-cancel">
            Annuleren
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div th:replace="bevolkingsregister/byz-fragments :: registrationByz"></div>

<div class="personByzModals">
  <div th:each="person,stat : *{b2}" data:person="${akte.b2[__${stat.index}__].rp}">
    <th:block
        th:include="bevolkingsregister/byz-fragments :: personByz (${akte.b2[__${stat.index}__].rp})"></th:block>
  </div>
</div>

<th:block th:replace="bevolkingsregister/overview-fragments :: overviewModal"></th:block>
</th:block>
</fieldset>

<fieldset layout:fragment="navigation"
          th:include="fragments/navigation :: bev-reg-navigation (${akte}, false, false)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/bevolkingsregister/bevolkingsregister.js"
          hsn:src="@{/js/bevolkingsregister/bevolkingsregister.js}"></script>
  <script src="../../static/js/bevolkingsregister/overview.js" hsn:src="@{/js/bevolkingsregister/overview.js}"></script>
  <script src="../../static/js/bevolkingsregister/crud-table.js"
          hsn:src="@{/js/bevolkingsregister/crud-table.js}"></script>
  <script src="../../static/js/bevolkingsregister/BS2.js"
          hsn:src="@{/js/bevolkingsregister/BS2.js}"></script>
</th:block>
</body>
</html>