<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="nrOfLines" th:object="${akte}">
  <div class="modal nrOfLinesModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Aantal personen wijzigen</strong>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="col-xs-7 control-label">Aantal personen:</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block th:fragment="copyLine" th:object="${akte}">
  <div class="modal copyLineModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Kopieren gegevens</strong>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="col-xs-9 control-label">Kopieren gegevens uit regel:</label>
            <div class="col-xs-3">
              <input type="text" class="form-control" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block th:fragment="nextLine" th:object="${akte}">
  <div class="modal nextLineModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Volgend te bewerken regelnummer</strong>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="col-xs-8 control-label">Volgend regelnummer:</label>
            <div class="col-xs-4">
              <input type="text" class="form-control" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>