<!DOCTYPE html>
<html>
<head>
</head>
<body>
<th:block layout:fragment="modal (modalId, b3Type, minRecords, maxRecords)">
  <div th:id="${modalId}" data:type="${b3Type}" data:min-records="${minRecords}" data:max-records="${maxRecords}"
       class="modal personDynamicModal crud-table-container" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Dynamische gegevens</strong>
        </div>
        <div class="crud-table">
          <th:block layout:fragment="modal-content">
          </th:block>
        </div>
        <th:block layout:fragment="modal-form">
        </th:block>
        <div class="alert alert-danger modalMessages" role="alert" style="display:none;">
        </div>
        <div class="alert alert-danger burgStaatInfoMessage" role="alert" th:if="${akte.burgStandRelFix}">
          Relaties met de regelnummers
          <span
              th:utext="${#strings.listJoin(@bevolkingsregisterHelper.getRelatedPersonsOfFirstPerson(flashScope.get('invalidPersonDynamics')), ', ')}"></span>
          zijn onmogelijk.
        </div>
      </div>
    </div>
  </div>
</th:block>

<!-- RELATIE TOV HOOFD -->

<div class="scrollable ajax-updated" id="b3ContentRELATIE_TOV_HOOFD" th:fragment="relModalContent" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b3Rel,stat : *{b3Rel[__${rp}__]}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th class="col-xs-1">Volg</th>
          <th class="col-xs-2">Code</th>
          <th class="col-xs-2">Naam</th>
          <th class="col-xs-3">Datum</th>
          <th class="col-xs-3" th:if="${akte.isCorrection()}">INTERPR</th>
          <th class="col-xs-2">Rel</th>
          <th class="col-xs-2">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b3Rel,stat : *{b3Rel[__${rp}__]}">
          <td>
            <!-- Volg -->
              <span class="seqNr dynamicDataSequenceNumber"
                    th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].dynamicDataSequenceNumber}">
              </span>

               <span class="dynamicData2 hidden"
                     th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].dynamicData2}">
              </span>
          </td>
          <td>
            <!-- Code -->
              <span class="contentOfDynamicData"
                    th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].contentOfDynamicData}">
              </span>
          </td>
          <td>
            <!-- Naam -->
              <span class="contentOfDynamicDataName"
                    th:with="relId=${akte.b3Rel[__${rp}__][__${stat.index}__].contentOfDynamicData},rel=${@relatieRepository.findByRelkode(relId)}"
                    th:utext="${rel != null} ? ${rel.relatie}">
              </span>
          </td>
          <td>
            <!-- Datum -->
                <span class="dayOfMutation"
                      th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].dayOfMutation}">
                </span>
            /
                <span class="monthOfMutation"
                      th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].monthOfMutation}">
                </span>
            /
                <span class="yearOfMutation"
                      th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].yearOfMutation}">
                </span>

            <span class="dayHoofd hidden"
                  th:utext="${@bevolkingsregisterHelper.getDayFromDateExplicietHoofd(akte.b3Rel[__${rp}__][__${stat.index}__])}">
            </span>

            <span class="monthHoofd hidden"
                  th:utext="${@bevolkingsregisterHelper.getMonthFromDateExplicietHoofd(akte.b3Rel[__${rp}__][__${stat.index}__])}">
            </span>

            <span class="yearHoofd hidden"
                  th:utext="${@bevolkingsregisterHelper.getYearFromDateExplicietHoofd(akte.b3Rel[__${rp}__][__${stat.index}__])}">
            </span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <!-- INTERPR -->
                <span class="dayOfMutationAfterInterpretation"
                      th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].dayOfMutationAfterInterpretation}">
                </span>
            /
                <span class="monthOfMutationAfterInterpretation"
                      th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].monthOfMutationAfterInterpretation}">
                </span>
            /
                <span class="yearOfMutationAfterInterpretation"
                      th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].yearOfMutationAfterInterpretation}">
                </span>
          </td>
          <td>
            <!-- Rel -->
              <span class="ind"
                    th:style="${akte.b3Rel[__${rp}__][__${stat.index}__].valueOfRelatedPerson le 0} ? 'display:none;'">
              </span>

            <span class="valueOfRelatedPerson hidden"
                  th:utext="${akte.b3Rel[__${rp}__][__${stat.index}__].valueOfRelatedPerson}">
            </span>
          </td>
          <td>
            <!-- Update -->
            <button type="button" class="btn btn-default btn-xs btn-update" data:person="${rp}"
                    data-type="RELATIE_TOV_HOOFD">
              Correctie
            </button>

            <!-- Remove -->
            <button type="button" class="btn btn-default btn-xs btn-delete" data:person="${rp}"
                    data-type="RELATIE_TOV_HOOFD">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="general-data hidden">
      <span class="sex" th:utext="${akte.curB2.sex}"></span>
    </div>
  </div>
</div>

<div class="fixed-left-column" th:fragment="relModalForm" th:object="${akte}" th:with="rp=${akte.curB2.rp}">
  <div class="on-no-edit clearfix">
    <div class="pull-right content-spacing">
      <button type="button" class="btn btn-default btn-xs btn-new" data:person="${rp}" data-type="RELATIE_TOV_HOOFD">
        Nieuw
      </button>
    </div>
  </div>

  <div class="on-edit extra-top-margin relatieElems" style="display:none;">
    <div class="fixed">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td class="col-xs-1">
            <!-- Volg -->
            <input type="text" disabled="disabled" name="dynamicDataSequenceNumber"
                   class="form-control form-control-digit"/>

            <input type="hidden" class="sex" name="sex"/>
          </td>
          <td colspan="2" class="col-xs-4">
            <!-- Code + Naam -->
            <div class="form-inline">
              <input type="text" class="form-control form-control-digit relatie is-id" name="contentOfDynamicData"
                     data-selected="0"/>

              <p class="form-control-static picklist-label spacing">
                &nbsp;
              </p>
            </div>

            <input type="hidden" class="dynamicData2" name="dynamicData2"/>
            <input type="hidden" class="relatie-regel" name="valueOfRelatedPerson"/>

            <div class="relatieRegelPopup" style="display:none;">
              <div class="form-group">
                <label class="control-label">Regelnr. relatie:</label>

                <input type="text" class="integer-field form-control form-control-digit spacing"
                       hsn:field="b3Rel[__${akte.curB2.rp}__][0].valueOfRelatedPerson"/>
              </div>
            </div>
          </td>
          <td class="col-xs-3">
            <div class="form-inline sub-form-group checkDateBevReg fullCheck"
                 data-show-when="#relModal [name=dynamicDataSequenceNumber]" data-has-values-not-in="1">
              <!-- Datum -->
              <input type="text" name="dayOfMutation" class="form-control form-control-digit day" maxlength="2"/>
              /
              <input type="text" name="monthOfMutation" class="form-control form-control-digit month" maxlength="2"/>
              /
              <input type="text" name="yearOfMutation" class="form-control form-control-small year" maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-3" th:if="${akte.isCorrection()}">
            <div class="form-inline sub-form-group checkDateBevReg fullCheck">
              <!-- INTERPR -->
              <input type="text" name="dayOfMutationAfterInterpretation" class="form-control form-control-digit day"
                     maxlength="2"/>
              /
              <input type="text" name="monthOfMutationAfterInterpretation" class="form-control form-control-digit month"
                     maxlength="2"/>
              /
              <input type="text" name="yearOfMutationAfterInterpretation" class="form-control form-control-small year"
                     maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-2">
            &nbsp;
          </td>
          <td class="col-xs-2">
            <!-- Save -->
            <button type="button" class="btn btn-default btn-xs btn-save-new" data:person="${rp}"
                    data-type="RELATIE_TOV_HOOFD">
              Opslaan
            </button>

            <button type="button" class="btn btn-default btn-xs btn-save-update" data:person="${rp}"
                    data-type="RELATIE_TOV_HOOFD">
              Opslaan
            </button>

            <!-- Cancel -->
            <button type="button" class="btn btn-default btn-xs btn-cancel" data:person="${rp}"
                    data-type="RELATIE_TOV_HOOFD">
              Annuleren
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group dateHoofd extra-top-margin-sm checkDateBevReg fullCheck noNeg afterHfdDatum" style="display:none;">
      <label class="col-xs-5 control-label">
        Datum expliciet hoofd:
      </label>

      <div class="col-xs-4 form-inline datum-expliciet-hoofd">
        <input type="text" class="form-control form-control-digit day" name="dayHoofd" maxlength="2"/>
        /
        <input type="text" class="form-control form-control-digit month" name="monthHoofd" maxlength="2"/>
        /
        <input type="text" class="form-control form-control-small year" name="yearHoofd" maxlength="4"/>
      </div>
    </div>

    <div class="extra-top-margin-sm regelInterpr" style="display:none;">
      <div class="form-group">
        <label class="col-xs-4 col-xs-offset-3 control-label">
          Regelnummer vader/moeder:
        </label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required relatie-regel regel-nr" data-min-value="-3"
                 name="valueOfRelatedPerson"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-4 col-xs-offset-3 control-label">
          Basis/aard interpretatie, kode:
        </label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required dynamicData2 intr-kode"
                 maxlength="1" name="dynamicData2"/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BURGELIJKE STAND -->

<div class="ajax-updated" id="b3ContentBURGELIJKE_STAND" th:fragment="brgModalContent" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b3Brg,stat : *{b3Brg[__${rp}__]}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free scrollable">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th style="min-width:60px;max-width:60px;">Volg</th>
          <th style="min-width:60px;max-width:60px;">Code</th>
          <th style="min-width:120px;max-width:120px;">Burg. staat</th>
          <th style="min-width:60px;max-width:60px;">Rel</th>
          <th style="min-width:200px;max-width:200px;">Datum</th>
          <th style="min-width:200px;max-width:200px;" th:if="${akte.isCorrection()}">INTERPR</th>
          <th style="min-width:300px;max-width:300px;">Plaats</th>
          <th style="min-width:150px;max-width:150px;">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b3Brg,stat : *{b3Brg[__${rp}__]}">
          <td>
            <!-- Volg -->
              <span class="seqNr dynamicDataSequenceNumber"
                    th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].dynamicDataSequenceNumber}">
              </span>
          </td>
          <td>
            <!-- Code -->
              <span class="contentOfDynamicData"
                    th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].contentOfDynamicData}">
              </span>
          </td>
          <td th:with="brgId=${akte.b3Brg[__${rp}__][__${stat.index}__].contentOfDynamicData}">
            <!-- Naam -->
            <span class="contentOfDynamicDataName" th:if="${#arrays.contains({1,2,3,5,6,9}, brgId) == false}">
              &nbsp;
            </span>

            <span class="contentOfDynamicDataName" th:if="${brgId == 1}">
              Ongehuwd
            </span>

            <span class="contentOfDynamicDataName" th:if="${brgId == 2}">
              Verweduwd
            </span>

            <span class="contentOfDynamicDataName" th:if="${brgId == 3}">
              Gescheiden
            </span>

            <span class="contentOfDynamicDataName" th:if="${brgId == 5}">
              Gehuwd
            </span>

            <span class="contentOfDynamicDataName" th:if="${brgId == 6}">
              Onbekend
            </span>

            <span class="contentOfDynamicDataName" th:if="${brgId == 9}">
              Onb -> huwelijk
            </span>
          </td>
          <td>
            <span class="valueOfRelatedPerson"
                  th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].valueOfRelatedPerson}">
            </span>
          </td>
          <td>
            <!-- Datum -->
                <span class="dayOfMutation"
                      th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].dayOfMutation}">
                </span>
            /
                <span class="monthOfMutation"
                      th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].monthOfMutation}">
                </span>
            /
                <span class="yearOfMutation"
                      th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].yearOfMutation}">
                </span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <!-- INTERPR -->
                <span class="dayOfMutationAfterInterpretation"
                      th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].dayOfMutationAfterInterpretation}">
                </span>
            /
                <span class="monthOfMutationAfterInterpretation"
                      th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].monthOfMutationAfterInterpretation}">
                </span>
            /
                <span class="yearOfMutationAfterInterpretation"
                      th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].yearOfMutationAfterInterpretation}">
                </span>
          </td>
          <td>
            <!-- Plaats -->
              <span class="dynamicData2"
                    th:utext="${akte.b3Brg[__${rp}__][__${stat.index}__].dynamicData2}">
              </span>
          </td>
          <td>
            <!-- Update -->
            <button type="button" class="btn btn-default btn-xs btn-update" data:person="${rp}"
                    data-type="BURGELIJKE_STAND">
              Correctie
            </button>

            <!-- Remove -->
            <button type="button" class="btn btn-default btn-xs btn-delete" data:person="${rp}"
                    data-type="BURGELIJKE_STAND">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div th:fragment="brgModalForm" th:object="${akte}" th:with="rp=${akte.curB2.rp}">
  <div class="on-no-edit clearfix">
    <div class="pull-right content-spacing">
      <button type="button" class="btn btn-default btn-xs btn-new" data:person="${rp}" data-type="BURGELIJKE_STAND">
        Nieuw
      </button>
    </div>
  </div>

  <div class="on-edit extra-top-margin fixed-left-column" style="display:none;">
    <div class="fixed">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free scrollable">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td style="min-width:60px;max-width:60px;">
            <!-- Volg -->
            <input type="text" disabled="disabled" name="dynamicDataSequenceNumber"
                   class="form-control form-control-digit"/>
          </td>
          <td colspan="2" style="min-width:180px;max-width:180px;">
            <!-- Code + Naam -->
            <div class="form-inline">
              <input type="text" class="form-control form-control-digit burgstand is-id" name="contentOfDynamicData"
                     data-selected="0"/>

              <p class="form-control-static picklist-label spacing">
                &nbsp;
              </p>
            </div>
          </td>
          <td style="min-width:60px;max-width:60px;">
            <!-- Rel -->
            <div class="sub-form-group burgStandToggle">
              <input type="text" class="form-control form-control-digit required burg-stand-relatie"
                     maxlength="2" name="valueOfRelatedPerson" data-min-value="-2"/>
            </div>
          </td>
          <td style="min-width:200px;max-width:200px;">
            <div class="form-inline sub-form-group checkDateBevReg fullCheck burgStandToggle">
              <!-- Datum -->
              <input type="text" name="dayOfMutation" class="form-control form-control-digit day" maxlength="2"/>
              /
              <input type="text" name="monthOfMutation" class="form-control form-control-digit month" maxlength="2"/>
              /
              <input type="text" name="yearOfMutation" class="form-control form-control-small year" maxlength="4"/>
            </div>
          </td>
          <td style="min-width:200px;max-width:200px;" th:if="${akte.isCorrection()}">
            <div class="form-inline sub-form-group checkInterprDateBevReg burgStandToggle">
              <!-- INTERPR -->
              <input type="text" name="dayOfMutationAfterInterpretation" class="form-control form-control-digit day"
                     maxlength="2"/>
              /
              <input type="text" name="monthOfMutationAfterInterpretation" class="form-control form-control-digit month"
                     maxlength="2"/>
              /
              <input type="text" name="yearOfMutationAfterInterpretation" class="form-control form-control-small year"
                     maxlength="4"/>
            </div>
          </td>
          <td style="min-width:300px;max-width:300px;">
            <!-- Plaats -->
            <div class="sub-form-group burgStandToggle">
              <input type="text" class="form-control plaats" name="dynamicData2"/>
            </div>
          </td>
          <td style="min-width:150px;max-width:150px;">
            <!-- Save -->
            <button type="button" class="btn btn-default btn-xs btn-save-new" data:person="${rp}"
                    data-type="BURGELIJKE_STAND">
              Opslaan
            </button>

            <button type="button" class="btn btn-default btn-xs btn-save-update" data:person="${rp}"
                    data-type="BURGELIJKE_STAND">
              Opslaan
            </button>

            <!-- Cancel -->
            <button type="button" class="btn btn-default btn-xs btn-cancel" data:person="${rp}"
                    data-type="BURGELIJKE_STAND">
              Annuleren
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- KERKGENOOTSCHAP -->

<div class="scrollable ajax-updated" id="b3ContentKERKGENOOTSCHAP" th:fragment="kgModalContent" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b3Kg,stat : *{b3Kg[__${rp}__]}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th class="col-xs-2">VolgNr</th>
          <th class="col-xs-5">Godsdienst</th>
          <th class="col-xs-3" th:if="${akte.isCorrection()}">INTERPR</th>
          <th class="col-xs-2">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b3Kg,stat : *{b3Kg[__${rp}__]}">
          <td>
            <!-- VolgNr -->
              <span class="seqNr dynamicDataSequenceNumber"
                    th:utext="${akte.b3Kg[__${rp}__][__${stat.index}__].dynamicDataSequenceNumber}">
              </span>
          </td>
          <td>
            <!-- Godsdienst -->
              <span class="dynamicData2"
                    th:utext="${akte.b3Kg[__${rp}__][__${stat.index}__].dynamicData2}">
              </span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <!-- INTERPR -->
                <span class="dayOfMutationAfterInterpretation"
                      th:utext="${akte.b3Kg[__${rp}__][__${stat.index}__].dayOfMutationAfterInterpretation}">
                </span>
            /
                <span class="monthOfMutationAfterInterpretation"
                      th:utext="${akte.b3Kg[__${rp}__][__${stat.index}__].monthOfMutationAfterInterpretation}">
                </span>
            /
                <span class="yearOfMutationAfterInterpretation"
                      th:utext="${akte.b3Kg[__${rp}__][__${stat.index}__].yearOfMutationAfterInterpretation}">
                </span>
          </td>
          <td>
            <!-- Update -->
            <button type="button" class="btn btn-default btn-xs btn-update" data:person="${rp}"
                    data-type="KERKGENOOTSCHAP">
              Correctie
            </button>

            <!-- Remove -->
            <button type="button" class="btn btn-default btn-xs btn-delete" data:person="${rp}"
                    data-type="KERKGENOOTSCHAP">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed-left-column" th:fragment="kgModalForm" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="on-no-edit clearfix">
    <div class="pull-right content-spacing">
      <button type="button" class="btn btn-default btn-xs btn-new" data:person="${rp}" data-type="KERKGENOOTSCHAP">
        Nieuw
      </button>
    </div>
  </div>

  <div class="on-edit extra-top-margin" style="display:none;">
    <div class="fixed">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td class="col-xs-2">
            <!-- VolgNr -->
            <input type="text" disabled="disabled" name="dynamicDataSequenceNumber"
                   class="form-control form-control-digit"/>
          </td>
          <td class="col-xs-5">
            <!-- Godsdienst -->
            <input type="text" class="form-control required kg" name="dynamicData2"/>
          </td>
          <td class="col-xs-3" th:if="${akte.isCorrection()}">
            <div class="form-inline sub-form-group checkInterprDateBevReg">
              <!-- INTERPR -->
              <input type="text" name="dayOfMutationAfterInterpretation" class="form-control form-control-digit day"
                     maxlength="2"/>
              /
              <input type="text" name="monthOfMutationAfterInterpretation" class="form-control form-control-digit month"
                     maxlength="2"/>
              /
              <input type="text" name="yearOfMutationAfterInterpretation" class="form-control form-control-small year"
                     maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-2">
            <!-- Save -->
            <button type="button" class="btn btn-default btn-xs btn-save-new" data:person="${rp}"
                    data-type="KERKGENOOTSCHAP">
              Opslaan
            </button>

            <button type="button" class="btn btn-default btn-xs btn-save-update" data:person="${rp}"
                    data-type="KERKGENOOTSCHAP">
              Opslaan
            </button>

            <!-- Cancel -->
            <button type="button" class="btn btn-default btn-xs btn-cancel" data:person="${rp}"
                    data-type="KERKGENOOTSCHAP">
              Annuleren
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- BEROEP -->

<div class="scrollable ajax-updated" id="b3ContentBEROEP" th:fragment="brpModalContent" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curB3Brp,stat : *{b3Brp[__${rp}__]}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th class="col-xs-1">Volgnr</th>
          <th class="col-xs-2">Beroep</th>
          <th class="col-xs-2">Positie</th>
          <th class="col-xs-3" th:if="${akte.isCorrection()}">INTERPR</th>
          <th class="col-xs-2">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curB3Brp,stat : *{b3Brp[__${rp}__]}">
          <td>
            <!-- Volgnr -->
              <span class="seqNr dynamicDataSequenceNumber"
                    th:utext="${akte.b3Brp[__${rp}__][__${stat.index}__].dynamicDataSequenceNumber}">
              </span>
          </td>
          <td>
            <!-- Beroep -->
              <span class="dynamicData2" th:utext="${akte.b3Brp[__${rp}__][__${stat.index}__].dynamicData2}">
              </span>
          </td>
          <td>
            <!-- Positie -->
              <span class="contentOfDynamicData hidden"
                    th:utext="akte.b3Brp[__${rp}__][__${stat.index}__].contentOfDynamicData"></span>

              <span class="contentOfDynamicDataCode"
                    th:utext="${@bevolkingsregisterHelper.getPositieFromCode(akte.b3Brp[__${rp}__][__${stat.index}__])}">
              </span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <!-- INTERPR -->
                <span class="dayOfMutationAfterInterpretation"
                      th:utext="${akte.b3Brp[__${rp}__][__${stat.index}__].dayOfMutationAfterInterpretation}">
                </span>
            /
                <span class="monthOfMutationAfterInterpretation"
                      th:utext="${akte.b3Brp[__${rp}__][__${stat.index}__].monthOfMutationAfterInterpretation}">
                </span>
            /
                <span class="yearOfMutationAfterInterpretation"
                      th:utext="${akte.b3Brp[__${rp}__][__${stat.index}__].yearOfMutationAfterInterpretation}">
                </span>
          </td>
          <td>
            <!-- Update -->
            <button type="button" class="btn btn-default btn-xs btn-update" data:person="${rp}" data-type="BEROEP">
              Correctie
            </button>

            <!-- Remove -->
            <button type="button" class="btn btn-default btn-xs btn-delete" data:person="${rp}" data-type="BEROEP">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed-left-column" th:fragment="brpModalForm" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="on-no-edit clearfix">
    <div class="pull-right content-spacing">
      <button type="button" class="btn btn-default btn-xs btn-new" data:person="${rp}" data-type="BEROEP">
        Nieuw
      </button>
    </div>
  </div>

  <div class="on-edit extra-top-margin" style="display:none;">
    <div class="fixed">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td class="col-xs-1">
            <!-- Volgnr -->
            <input type="text" disabled="disabled" name="dynamicDataSequenceNumber"
                   class="form-control form-control-digit"/>
          </td>
          <td class="col-xs-2">
            <!-- Beroep -->
            <input type="text" name="dynamicData2" class="form-control required beroep"/>
          </td>
          <td class="col-xs-2">
            <!-- Positie -->
            <div class="form-inline">
              <input type="hidden" name="contentOfDynamicData" class="modalContentOfDynamicData"/>

              <input type="text" class="form-control form-control-digit required positie" maxlength="1"
                     name="contentOfDynamicDataCode" data-valid-chars="h;o;n"/>

              <p class="form-control-static spacing">h / o / n</p>
            </div>
          </td>
          <td class="col-xs-3" th:if="${akte.isCorrection()}">
            <div class="form-inline sub-form-group checkInterprDateBevReg">
              <!-- INTERPR -->
              <input type="text" name="dayOfMutationAfterInterpretation" class="form-control form-control-digit day"
                     maxlength="2"/>
              /
              <input type="text" name="monthOfMutationAfterInterpretation" class="form-control form-control-digit month"
                     maxlength="2"/>
              /
              <input type="text" name="yearOfMutationAfterInterpretation" class="form-control form-control-small year"
                     maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-2">
            <!-- Save -->
            <button type="button" class="btn btn-default btn-xs btn-save-new" data:person="${rp}" data-type="BEROEP">
              Opslaan
            </button>

            <button type="button" class="btn btn-default btn-xs btn-save-update" data:person="${rp}" data-type="BEROEP">
              Opslaan
            </button>

            <!-- Cancel -->
            <button type="button" class="btn btn-default btn-xs btn-cancel" data:person="${rp}" data-type="BEROEP">
              Annuleren
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- HERKOMST -->

<div class="scrollable ajax-updated" id="b3ContentHERKOMST" th:fragment="herModalContent" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curB3Her,stat : *{b3Her[__${rp}__]}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th class="col-xs-1">Volgnr</th>
          <th class="col-xs-3">Datum aankomst</th>
          <th class="col-xs-3" th:if="${akte.isCorrection()}">INTERPR</th>
          <th class="col-xs-3">Plaats herkomst</th>
          <th class="col-xs-2">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curB3Her,stat : *{b3Her[__${rp}__]}">
          <td>
            <span class="seqNr dynamicDataSequenceNumber"
                  th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].dynamicDataSequenceNumber}">
            </span>
          </td>
          <td>
            <span class="dayOfMutation" th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].dayOfMutation}"></span>
            /
            <span class="monthOfMutation" th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].monthOfMutation}"></span>
            /
            <span class="yearOfMutation" th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].yearOfMutation}"></span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <span class="dayOfMutationAfterInterpretation"
                  th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].dayOfMutationAfterInterpretation}"></span>
            /
            <span class="monthOfMutationAfterInterpretation"
                  th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].monthOfMutationAfterInterpretation}"></span>
            /
            <span class="yearOfMutationAfterInterpretation"
                  th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].yearOfMutationAfterInterpretation}"></span>
          </td>
          <td>
            <span class="dynamicData2" th:utext="${akte.b3Her[__${rp}__][__${stat.index}__].dynamicData2}">
            </span>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs btn-update" data:person="${rp}" data-type="HERKOMST">
              Correctie
            </button>

            <button type="button" class="btn btn-default btn-xs btn-delete" data:person="${rp}" data-type="HERKOMST">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed-left-column" th:fragment="herModalForm" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="on-no-edit clearfix">
    <div class="pull-right content-spacing">
      <button type="button" class="btn btn-default btn-xs btn-new" data:person="${rp}" data-type="HERKOMST">
        Nieuw
      </button>
    </div>
  </div>

  <div class="on-edit extra-top-margin" style="display:none;">
    <div class="fixed">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td class="col-xs-1">
            <input type="text" disabled="disabled" name="dynamicDataSequenceNumber"
                   class="form-control form-control-digit"/>
          </td>
          <td class="col-xs-3">
            <div class="form-inline sub-form-group checkDateBevReg fullCheck">
              <input type="text" name="dayOfMutation" class="form-control form-control-digit day" maxlength="2"/>
              /
              <input type="text" name="monthOfMutation" class="form-control form-control-digit month" maxlength="2"/>
              /
              <input type="text" name="yearOfMutation" class="form-control form-control-small year" maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-3" th:if="${akte.isCorrection()}">
            <div class="form-inline sub-form-group checkInterprDateBevReg">
              <input type="text" name="dayOfMutationAfterInterpretation" class="form-control form-control-digit day"
                     maxlength="2"/>
              /
              <input type="text" name="monthOfMutationAfterInterpretation" class="form-control form-control-digit month"
                     maxlength="2"/>
              /
              <input type="text" name="yearOfMutationAfterInterpretation" class="form-control form-control-small year"
                     maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-3">
            <input type="text" name="dynamicData2" class="form-control plaats"/>
          </td>
          <td class="col-xs-2">
            <!-- Save -->
            <button type="button" class="btn btn-default btn-xs btn-save-new" data:person="${rp}" data-type="HERKOMST">
              Opslaan
            </button>

            <button type="button" class="btn btn-default btn-xs btn-save-update" data:person="${rp}"
                    data-type="HERKOMST">
              Opslaan
            </button>

            <!-- Cancel -->
            <button type="button" class="btn btn-default btn-xs btn-cancel" data:person="${rp}" data-type="HERKOMST">
              Annuleren
            </button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- VERTREK -->

<div class="scrollable ajax-updated" id="b3ContentVERTREK" th:fragment="verModalContent" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="fixed-left-column">
    <div class="fixed">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curB3Ver,stat : *{b3Ver[__${rp}__]}">
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-data">
        <thead>
        <tr>
          <th class="col-xs-1">Volgnr</th>
          <th class="col-xs-3">Datum vertrek</th>
          <th class="col-xs-3" th:if="${akte.isCorrection()}">INTERPR</th>
          <th class="col-xs-3">Plaats vertrek</th>
          <th class="col-xs-2">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curB3Ver,stat : *{b3Ver[__${rp}__]}">
          <td>
            <span class="seqNr dynamicDataSequenceNumber"
                  th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].dynamicDataSequenceNumber}">
            </span>
          </td>
          <td>
            <span class="dayOfMutation" th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].dayOfMutation}"></span>
            /
            <span class="monthOfMutation" th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].monthOfMutation}"></span>
            /
            <span class="yearOfMutation" th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].yearOfMutation}"></span>
          </td>
          <td th:if="${akte.isCorrection()}">
            <span class="dayOfMutationAfterInterpretation"
                  th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].dayOfMutationAfterInterpretation}"></span>
            /
            <span class="monthOfMutationAfterInterpretation"
                  th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].monthOfMutationAfterInterpretation}"></span>
            /
            <span class="yearOfMutationAfterInterpretation"
                  th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].yearOfMutationAfterInterpretation}"></span>
          </td>
          <td>
            <span class="dynamicData2" th:utext="${akte.b3Ver[__${rp}__][__${stat.index}__].dynamicData2}">
            </span>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs btn-update" data:person="${rp}" data-type="VERTREK">
              Correctie
            </button>

            <button type="button" class="btn btn-default btn-xs btn-delete" data:person="${rp}" data-type="VERTREK">
              Vervallen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed-left-column" th:fragment="verModalForm" th:object="${akte}"
     th:with="rp=${akte.curB2.rp}">
  <div class="on-no-edit clearfix">
    <div class="pull-right content-spacing">
      <button type="button" class="btn btn-default btn-xs btn-new" data:person="${rp}" data-type="VERTREK">
        Nieuw
      </button>
    </div>
  </div>

  <div class="on-edit extra-top-margin" style="display:none;">
    <div class="fixed">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="free">
      <table class="table table-condensed table-form">
        <tbody>
        <tr>
          <td class="col-xs-1">
            <input type="text" disabled="disabled" name="dynamicDataSequenceNumber"
                   class="form-control form-control-digit"/>
          </td>
          <td class="col-xs-3">
            <div class="form-inline sub-form-group checkDateBevReg fullCheck">
              <input type="text" name="dayOfMutation" class="form-control form-control-digit day" maxlength="2"/>
              /
              <input type="text" name="monthOfMutation" class="form-control form-control-digit month" maxlength="2"/>
              /
              <input type="text" name="yearOfMutation" class="form-control form-control-small year" maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-3" th:if="${akte.isCorrection()}">
            <div class="form-inline sub-form-group checkInterprDateBevReg">
              <input type="text" name="dayOfMutationAfterInterpretation"
                     class="form-control form-control-digit day" maxlength="2"/>
              /
              <input type="text" name="monthOfMutationAfterInterpretation"
                     class="form-control form-control-digit month" maxlength="2"/>
              /
              <input type="text" name="yearOfMutationAfterInterpretation"
                     class="form-control form-control-small year" maxlength="4"/>
            </div>
          </td>
          <td class="col-xs-3">
            <input type="text" name="dynamicData2" class="form-control plaats"/>
          </td>
          <td class="col-xs-2">
            <!-- Save -->
            <button type="button" class="btn btn-default btn-xs btn-save-new" data:person="${rp}" data-type="VERTREK">
              Opslaan
            </button>

            <button type="button" class="btn btn-default btn-xs btn-save-update" data:person="${rp}"
                    data-type="VERTREK">
              Opslaan
            </button>

            <!-- Cancel -->
            <button type="button" class="btn btn-default btn-xs btn-cancel" data:person="${rp}" data-type="VERTREK">
              Annuleren
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>