<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset layout:fragment="main" class="content-spacing">
  <div class="form-main-header" th:if="${levnloos} == 'n'">OVERLIJDENSAKTEN</div>
  <div class="form-main-header" th:if="${levnloos} != 'n'">AKTEN LEVENLOZE GEBOORTE</div>

  <div class="extra-top-margin default-label text-center">
    Maak een keuze uit de volgende mogelijkheden:
  </div>

  <div class="form-group extra-top-margin-sm">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <label class="control-label">1. &nbsp; Invoeren nieuwe gegevens</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <label class="control-label">2. &nbsp; Overzicht ingevoerde gegevens</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <label class="control-label">3. &nbsp; Corrigeren ingevoerde gegevens</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <label class="control-label">4. &nbsp; Verwijderen ingevoerde gegevens</label>
      </div>
    </div>

    <div class="row extra-top-margin-sm">
      <div class="col-xs-5 col-xs-offset-4">
        <label class="control-label">s. &nbsp; Terug naar hoofdmenu</label>
      </div>
    </div>

    <div class="row extra-top-margin">
      <label for="keuze" class="col-xs-5 col-xs-offset-2 control-label">Geef hier uw antwoord:</label>

      <div class="col-xs-offset-2">
        <input type="text" id="keuze" name="keuze" class="form-control form-control-digit spacing submit-on-keyup"
               maxlength="1" data-valid-chars="1;2;3;4;s"/>
      </div>
    </div>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('OHOOFD')"></footer>
</body>
</html>