<!DOCTYPE html>
<html layout:decorator="formLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset class="title" layout:fragment="title">
  <th:block th:if="${akte.isCorrectionDelete()}">
    <div class="form-main-header">
      VERWIJDER OVERLIJDENSAKTEN
    </div>
  </th:block>

  <th:block th:if="${akte.isCorrectionDelete()} == false">
    <legend align="center">CORRECTIE VAN OVERLIJDENSAKTEN</legend>
  </th:block>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-group">
      <label class="col-xs-6 control-label">Identificatienummer:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control rp-idnr no-rp-lookup required" data-lookup="ovlknd"
               th:field="*{ovlknd.idnr}" hsn:field="ovlknd.idnr"/>
      </div>
    </div>

    <p class="fail text-danger text-center" style="display: none;"></p>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: correction-navigation (false)"></fieldset>
</body>
</html>