<!DOCTYPE html>
<html layout:decorate="~{formLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset class="title content-spacing" layout:fragment="title">
  <legend align="center">INVOER VAN OVERLIJDENSAKTEN</legend>
</fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-group">
      <label class="col-xs-6 control-label">Identificatienummer overledene:</label>

      <div class="col-xs-4">
        <input type="text" data-lookup="ovlknd" class="form-control rp-idnr required"
               th:classappend="${akte.isLevnloos()} ? no-rp-lookup" th:field="*{ovlknd.idnr}" hsn:field="ovlknd.idnr"/>
      </div>
    </div>

    <p class="fail text-danger text-center" style="display: none;"></p>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, false)"></fieldset>
</body>
</html>