<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="overlijden/OSTITEL :: OSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-main-header">GEGEVENS AKTE:</div>

    <div class="form-group extra-top-margin checkDateTimeOvl">
      <label class="control-label col-xs-4">Datum en tijdstip overlijdensAKTE:</label>

      <div class="col-xs-12">
        <div class="col-xs-2">
          <label class="control-label">Dag:</label>
          <input type="text" class="form-control day" data-replace=":0" maxlength="2"
                 th:field="*{ovlknd.oaktedag}" hsn:field="ovlknd.oaktedag"/>
        </div>

        <div class="col-xs-2">
          <label class="control-label">Maand:</label>
          <input type="text" class="form-control month" data-replace=":0" maxlength="2"
                 th:field="*{ovlknd.oaktemnd}" hsn:field="ovlknd.oaktemnd"/>
        </div>

        <div class="col-xs-2">
          <label class="control-label">Jaar:</label>
          <input type="text" class="form-control year" data-replace=":0" maxlength="4"
                 th:field="*{ovlknd.oaktejr}" hsn:field="ovlknd.oaktejr"/>
        </div>

        <div class="col-xs-2 col-xs-offset-1">
          <label class="control-label">Uur:</label>
          <input type="text" class="form-control hour" data-replace=":0" maxlength="2"
                 th:field="*{ovlknd.oakteuur}" hsn:field="ovlknd.oakteuur"/>
        </div>

        <div class="col-xs-2">
          <label class="control-label">Min:</label>
          <input type="text" class="form-control minute" data-replace=":0" maxlength="2"
                 th:field="*{ovlknd.oaktemin}" hsn:field="ovlknd.oaktemin"/>
        </div>
      </div>
    </div>

    <div class="form-group extra-top-margin">
      <label class="control-label col-xs-3">Volgnummer akte:</label>

      <div class="col-xs-3">
        <input type="text" class="form-control" data-byz=";0" th:field="*{ovlknd.oaktenr}" hsn:field="ovlknd.oaktenr"/>
      </div>
    </div>

    <div class="form-group"
         th:replace="fragments/complete-fields :: plaats ('ovlknd.oacgemnm', 'Plaatsnaam akte:')"></div>

    <div class="byz-text hidden">
      Vergeet niet het volgnummer van de akte in te voeren!! Indien niet gevonden gaarne bij bijzonderheden verwerken.
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/overlijden/OS1B.js" th:src="@{/js/overlijden/OS1B.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
</th:block>
</body>
</html>