<!DOCTYPE html>
<html layout:decorator="formLayout">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="overlijden/OSTITEL :: OSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <legend>AANGEVER</legend>

    <div class="form-group" th:if="${akte.isLevnloos()} == false">
      <label class="col-xs-6 control-label">Betreft het hier een extract? j / n</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
               id="ovlknd.extract" name="ovlknd.extract"/>
      </div>
    </div>

    <div class="form-group"
         data:show-when="${akte.isLevnloos() == false} ? '#ovlknd\.extract'"
         data:has-values-in="${akte.isLevnloos() == false} ? 'n'"
         th:style="${akte.isLevnloos() == false} ? 'display:none;'">
      <label class="col-xs-6 control-label">Hoeveel aangevers zijn er bij deze akte? (1 of 2)</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="1;2"
               id="ovlknd.nagvr" name="ovlknd.nagvr"/>
      </div>
    </div>

    <div class="form-group" data-show-when="#ovlknd\.nagvr" data-has-values-in="1;2"
         th:if="${akte.ovlknd.levvovl} == 'j'">
      <label class="col-xs-6 control-label">Is de vader tevens een van de aangevers? j / n</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="j;n"
               id="ovlknd.agvvadr" name="ovlknd.agvvadr"/>
      </div>
    </div>

    <div class="extra-top-margin text-center" data-show-when="#ovlknd\.agvvadr" data-has-values-in="j"
         style="display:none;" th:include="fragments/complete-fields :: handtekening ('ovlknd.hndtkv')">
    </div>

    <div class="alert alert-danger" role="alert" data-show-when="#ovlknd\.extract" data-has-values-in="j"
         style="display:none;" th:if="${akte.isCorrection()} and (${akte.ovlknd.extract} == 'n')">
      Weet u zeker dat het om een extract gaat? <br/>
      Indien in het verleden aangevers zijn ingevoerd worden deze verwijderd. Indien vader als aangever stond genoteerd
      wordt dit gecorrigeeerd.
    </div>

    <div class="alert alert-danger" role="alert" data-show-when="#ovlknd\.extract" data-has-values-in="n"
         style="display:none;" th:if="${akte.isCorrection()} and (${akte.ovlknd.extract} == 'j')">
      Geen extract betekent invoeren aangevers. Weet u zeker dat het niet om een extract gaat?
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (true, true)"></fieldset>
</body>
</html>