<!DOCTYPE html>
<html layout:decorate="~{formLayout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="overlijden/OSTITEL :: OSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="text-center">
      <strong>Overige gegevens</strong>
      <span class="form-main-header">OVERLIJDENS AKTE:</span>
    </div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-3 control-label">Adres overledene:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{ovlknd.adrovl}" hsn:field="ovlknd.adrovl"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Adres plaats overlijden:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{ovlknd.ploovl}" hsn:field="ovlknd.ploovl"/>
      </div>
    </div>

    <div class="form-group"
         th:include="fragments/complete-fields :: beroep ('ovlknd.brpovl', 'Beroep overledene:')"></div>

    <div class="form-group">
      <div class="row no-margin">
        <label class="col-xs-3 control-label">Burgerlijke staat overlijden:</label>

        <div class="col-xs-3">
          <p class="form-control-static">
            1 = ongehuwd
          </p>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-xs-3 col-xs-offset-3">
          <p class="form-control-static">
            2 = weduwnaar/weduwe
          </p>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-xs-3 col-xs-offset-3">
          <p class="form-control-static">
            3 = gescheiden
          </p>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-xs-3 col-xs-offset-3">
          <p class="form-control-static">
            5 = gehuwd
          </p>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-xs-3 col-xs-offset-3">
          <p class="form-control-static">
            6 = onbekend
          </p>
        </div>

        <label class="col-xs-2 control-label">Uw keuze:</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit spacing required" data-valid-chars="1;2;3;5;6"
                 th:field="*{ovlknd.brgovl}" hsn:field="ovlknd.brgovl"/>
        </div>
      </div>
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>
</body>
</html>