<!DOCTYPE html>
<html layout:decorator="formLayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="overlijden/OSTITEL :: OSTITEL"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="alert alert-info" role="alert">
      Bij eerste invoer zijn er wel echtgenoten ingevoerd!!! Aantal:
      <th:block th:utext="${akte.ovlknd.mreovl}">0</th:block>
      <br/>
      Deze worden nu verwijderd! <br/>
      Indien u ze opnieuw wilt invoeren, geef dan nu een correcte code voor de burgerlijke staat:
    </div>

    <div class="form-group form-inline extra-top-margin text-center">
      <label class="control-label">Burgerlijke staat:</label>

      <input type="text" class="form-control form-control-digit required spacing" data-valid-chars="1;2;3;5;6"
             maxlength="1" name="ovlknd.brgovl"/>
    </div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation (false, true)"></fieldset>
</body>
</html>