<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="title" th:fragment="OSTITEL">
  <legend align="center" th:if="${akte.isCorrection()} == false">INVOER OVERLIJDENSAKTE VAN:</legend>
  <legend align="center" th:if="${akte.isCorrection()}">CORRECTIE OVERLIJDENSAKTE VAN:</legend>

  <div class="row">
    <div class="col-xs-3 text-left">
      Idnr:<br/>
      <span th:utext="${akte.ovlknd.idnr} ? ${akte.ovlknd.idnr}"></span>
    </div>

    <div class="col-xs-3 text-left">
      Achternaam:<br/>
      <span th:utext="${akte.ovlknd.anmovl} ? ${akte.ovlknd.anmovl}"></span>
    </div>

    <div class="col-xs-3 text-left">
      Voornamen 1 en 2:<br/>
      <span th:utext="${akte.ovlknd.vrn1ovl} ? ${akte.ovlknd.vrn1ovl}"></span>
      <span th:utext="${akte.ovlknd.vrn2ovl} ? ${akte.ovlknd.vrn2ovl}"></span>
    </div>

    <div class="col-xs-3 text-right">
      Jaar overleden:<br/>
      <span th:utext="${akte.ovlknd.ovljr} ? ${akte.ovlknd.ovljr}"></span>
    </div>
  </div>
</fieldset>
</body>
</html>