<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
</head>
<body>
<div th:fragment="bijzonderheden">
  <p>
    Typ de bijzonderheden. Na invoer van de bron kunt u in het hoofdmenu van de invoermodule via optie 3
    ('Corrigeren ingevoerde gegevens') de ingevoerde bijzonderheden bekijken en eventueel verbeteren.
    U kunt daarbij steeds maximaal vijf regels tegelijk aanpassen.
    <br/>
    N.B. Lege regels worden niet opgeslagen en deze kunt u dan ook niet gebruiken voor layout doeleinden.
  </p>

  <div class="form-group extra-top-margin">
    <div class="col-xs-10 col-xs-offset-1 bijzonderheden">
      <textarea th:field="*{fullByz}" class="form-control" maxlength="275" rows="5"></textarea>
    </div>
  </div>
</div>

<div th:fragment="bijzonderhedenCorrectie">
  <p>
    Corrigeer de bijzonderheden regel voor regel!!!
    <br/>
    Verwijderen gebeurt door middel van het overschijven met blanks!!
    <br/>
    N.B. 100 % lege regels worden niet ingevoerd, dus gebruik deze ook niet voor lay-out doeleinden!!
  </p>

  <div class="form-group extra-top-margin">
    <div class="col-xs-10 col-xs-offset-1 bijzonderheden">
      <textarea th:field="*{fullByz}" class="form-control" maxlength="275" rows="5"></textarea>
    </div>
  </div>
</div>
</body>
</html>