<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head></head>
<body>
<fieldset th:fragment="bev-reg-navigation (akte, singlePersonScreen)">
  <span class="pull-right" th:with="burgstandRelFix=${singlePersonScreen and akte.isBurgStandRelFix()}">
    <th:block th:if="${akte.isCorrectionDelete()} == false">
      <button type="submit" name="_eventId_nextPerson" class="btn btn-default btn-next"
              th:if="${!burgstandRelFix and singlePersonScreen and !@bevolkingsregisterHelper.registrationHasMaxPersons(akte)}">
        Volgende persoon
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>

      <button type="submit" name="_eventId_next" class="btn btn-default btn-next"
              th:if="${burgstandRelFix or !singlePersonScreen or !@bevolkingsregisterHelper.registrationRequiresAnotherPerson(akte)}">
        Volgende
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </th:block>

    <button type="submit" name="_eventId_delete" class="btn btn-default btn-delete" th:if="${akte.isCorrectionDelete()}">
      Verwijderen
    </button>

    <button type="submit" name="_eventId_stop" class="btn btn-default btn-stop" th:if="${!burgstandRelFix}">
      Stoppen
    </button>
  </span>
</fieldset>

<fieldset th:fragment="navigation (mayStop, mayAddByz)">
  <span class="pull-left">
    <span class="scherm" th:utext="${flowRequestContext.currentState.id}"></span>
  </span>

  <span class="pull-right">
    <button type="submit" name="_eventId_next" class="btn btn-default btn-next">
      Volgende
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>

    <button type="submit" name="_eventId_byz" class="btn btn-default btn-byz"
            th:if="${mayAddByz} and (${akte.isCorrection()} == false)">
      Bijzonderheden
    </button>

    <button type="submit" name="_eventId_stop" class="btn btn-default btn-stop" th:if="${mayStop}">
      Stoppen
    </button>
  </span>
</fieldset>

<fieldset th:fragment="byz-navigation">
  <span class="pull-left">Bijzonderheden</span>

  <span class="pull-right">
    <button type="submit" name="_eventId_more" class="btn btn-default btn-more" th:if="${akte.allowMoreByz}">
      Nog meer bijzonderheden toevoegen
    </button>

    <button type="submit" name="_eventId_next" class="btn btn-default btn-next">
      Volgende
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
  </span>
</fieldset>
</body>
</html>