<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>HSN-Invoerprogramma</title>
  <link href="../static/css/style.css" th:href="@{/css/style.css(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}" rel="stylesheet"/>
</head>
<body>
<div id="main" class="container">
  <th:block layout:fragment="content"></th:block>
</div>

<script src="../static/js/lib/jquery-2.1.4.min.js" th:src="@{/js/lib/jquery-2.1.4.min.js}"></script>
<script src="../static/js/lib/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
<script src="../static/js/lib/bootstrap3-typeahead.js" th:src="@{/js/lib/bootstrap3-typeahead.js}"></script>

<script src="../static/js/utils.js" th:src="@{/js/utils.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
<script src="../static/js/datum.js" th:src="@{/js/datum.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>

<th:block layout:fragment="js"></th:block>

<script src="../static/js/ajax.js" th:src="@{/js/ajax.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
<script src="../static/js/find-op.js" th:src="@{/js/find-op.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
<script src="../static/js/fields.js" th:src="@{/js/fields.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
<script src="../static/js/validation.js" th:src="@{/js/validation.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
<script src="../static/js/navigation.js" th:src="@{/js/navigation.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
<script src="../static/js/picklists.js" th:src="@{/js/picklists.js(r=${T(org.apache.commons.lang.RandomStringUtils).randomAlphanumeric(10)})}"></script>
</body>
</html>