<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head></head>
<body>
<header layout:fragment="header" th:include="layoutFragments :: header"></header>

<fieldset layout:fragment="main">
  <table class="table">
    <thead>
    <tr>
      <th>Ident. Nummer</th>
      <th>Volgnummer</th>
      <th>Achternaam</th>
      <th>Voornamen</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curMilReg,stat : ${overview}">
      <td th:utext="${curMilReg.idnr}"></td>
      <td th:utext="${curMilReg.seq}"></td>
      <td th:utext="${curMilReg.familyName}"></td>
      <td th:utext="${curMilReg.firstName}"></td>
    </tr>
    <tr th:if="${overview.size() == 0}">
      <td colspan="4" class="text-center">EINDE BESTAND / echter niets gevonden!</td>
    </tr>
    </tbody>
  </table>

  <div class="pull-right content-spacing">
    <button type="submit" name="stop" class="btn btn-default btn-right-spacing btn-sm btn-stop">
      Stoppen
    </button>
  </div>
</fieldset>

<footer layout:fragment="footer" th:include="layoutFragments :: footer ('MOVERZ')"></footer>
</body>
</html>