<!DOCTYPE html>
<html layout:decorator="formLayout" th:with="mainClasses='two-column'">
<head></head>
<body>
<fieldset layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-TOP"></fieldset>

<fieldset>
  <th:block layout:fragment="fields">
    <div class="alert alert-info" role="alert">
      Geef in onderstaand militieregister de kniplijnen aan door met de muis op de gewenste plek te klikken.
      U kunt maximaal drie kniplijnen aanbrengen. <br/><br/>

      U kunt inzoomen met <kbd><kbd>ctrl</kbd> <kbd>-</kbd></kbd> en uitzoomen met <kbd><kbd>ctrl</kbd> <kbd>+</kbd></kbd>.
      U kunt het register verplaatsen met de pijltjestoetsen:
      <kbd><kbd>ctrl</kbd> <kbd>&leftarrow;</kbd></kbd>, <kbd><kbd>ctrl</kbd> <kbd>&uparrow;</kbd></kbd>,
      <kbd><kbd>ctrl</kbd> <kbd>&rightarrow;</kbd></kbd>, <kbd><kbd>ctrl</kbd> <kbd>&downarrow;</kbd></kbd>. <br/><br/>

      Zodra u een kniplijn aanklikt verandert de lijn van kleur. U kunt de kniplijn nu aanpassen.
      U kunt dan bijvoorbeeld de kniplijn ongedaan maken met <kbd><kbd>ctrl</kbd> <kbd>delete</kbd></kbd>. <br/>
      Ook kunt u de de kniplijn omhoog of omlaag verplaatsen:
      <kbd><kbd>ctrl</kbd> <kbd>&uparrow;</kbd></kbd>, <kbd><kbd>ctrl</kbd> <kbd>&downarrow;</kbd></kbd>.
      Zodra u tevreden bent over het resultaat kunt u terug keren met <kbd><kbd>ctrl</kbd> <kbd>enter</kbd></kbd>.
    </div>

    <div class="extra-top-margin">
      <canvas id="cutter" height="500"></canvas>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<fieldset layout:fragment="navigation"
          th:include="fragments/navigation :: navigation-byz-modal (true, false)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/MS0A.js" hsn:src="@{/js/militie/MS0A.js}"></script>
</th:block>
</body>
</html>