<!DOCTYPE html>
<html layout:decorator="formViewLayout">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">GEGEVENS REGISTER:</div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-3 control-label">Jaar:</label>

      <div class="col-xs-2">
        <input type="text" class="form-control required year" th:field="*{mil.year}" hsn:field="mil.year"/>
      </div>
    </div>

    <div class="form-group" th:include="fragments/complete-fields :: plaats ('mil.municipality', 'Gemeente:')"></div>

    <div class="form-group">
      <label class="col-xs-3 control-label">
        Type register:
      </label>

      <div class="col-xs-1">
        <input type="text" class="form-control form-control-digit integer-field required" maxlength="1"
               data-valid-chars="I;L;K;N" th:field="*{mil.type}" hsn:field="mil.type"/>
      </div>

      <ul class="col-xs-3 list-unstyled default-label">
        <li>I = Alfabetische naamlijst</li>
        <li>L = Lotingsregister</li>
        <li>K = Keuringsregister</li>
        <li>N = Niet bekend</li>
      </ul>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Inventaris nummer:</label>

      <div class="col-xs-2">
        <input type="text" class="form-control" th:field="*{mil.invNumber}" hsn:field="mil.invNumber"/>
      </div>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info">
  <th:block th:include="militie/MSINFO :: MSINFO"></th:block>

  <div id="scansEnteredMessage" class="alert alert-warning extra-top-margin" role="alert" style="display:none;">
    Er zijn eerder scans voor dezelfde persoon ingevoerd met een vergelijkbaar jaar en/of gemeente:
    <ul></ul>
  </div>
</div>

<fieldset layout:fragment="navigation"
          th:include="fragments/navigation :: navigation-byz-modal (true, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
  <script src="../../static/js/militie/MS0A.js" hsn:src="@{/js/militie/MS0B.js}"></script>
</th:block>
</body>
</html>