<!DOCTYPE html>
<html layout:decorator="formViewLayout">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">GEGEVENS OUDERS LOTELING:</div>

    <div class="form-group extra-top-margin" th:if="${!akte.is1862()}">
      <label class="col-xs-3 control-label">Achternaam vader:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control"
               th:field="*{milReg.familyNameFather}" hsn:field="milReg.familyNameFather"/>
      </div>
    </div>

    <div class="form-group" th:classappend="${akte.is1862()} ? 'extra-top-margin'">
      <label class="col-xs-3 control-label">Voornamen vader:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control"
               th:field="*{milReg.firstNameFather}" hsn:field="milReg.firstNameFather"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Achternaam moeder:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control"
               th:field="*{milReg.familyNameMother}" hsn:field="milReg.familyNameMother"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Voornamen moeder:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control"
               th:field="*{milReg.firstNameMother}" hsn:field="milReg.firstNameMother"/>
      </div>
    </div>

    <div class="form-group" th:if="${!akte.is1862()}"
         th:include="fragments/complete-fields :: plaats ('milReg.placeParents', 'Woonplaats ouders:')"></div>

    <div class="form-group" th:classappend="${!akte.is1862()} ? 'extra-top-margin'">
      <label class="col-xs-3 control-label">Achternaam voogd:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control"
               th:field="*{milReg.familyNameGuardian}" hsn:field="milReg.familyNameGuardian"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Voornamen voogd:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control"
               th:field="*{milReg.firstNameGuardian}" hsn:field="milReg.firstNameGuardian"/>
      </div>
    </div>

    <div class="form-group" th:if="${!akte.is1862()}"
         th:include="fragments/complete-fields :: plaats ('milReg.placeGuardian', 'Woonplaats voogd:')"></div>

    <div class="form-group" th:if="${akte.is1862()}"
         th:include="fragments/complete-fields :: plaats ('milReg.placeParents', 'Woonplaats:')"></div>

    <div class="form-group extra-top-margin"
         th:include="fragments/complete-fields :: beroep ('milReg.profession', 'Beroep loteling:')"></div>

    <th:block th:if="${!akte.is1862()}">
      <div class="form-group"
           th:include="fragments/complete-fields :: beroep ('milReg.professionFather', 'Beroep vader:')"></div>

      <div class="form-group"
           th:include="fragments/complete-fields :: beroep ('milReg.professionMother', 'Beroep moeder:')"></div>

      <div class="form-group"
           th:include="fragments/complete-fields :: beroep ('milReg.professionGuardian', 'Beroep voogd:')"></div>
    </th:block>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>