<!DOCTYPE html>
<html layout:decorator="formViewLayout">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">LENGTE EN SIGNALEMENT:</div>

    <div class="form-group extra-top-margin">
      <div class="form-inline col-xs-offset-2">
        <div class="form-group">
          <label class="control-label" th:if="${akte.mil.militionId.year le 1824}">el:</label>
          <label class="control-label" th:if="${akte.mil.militionId.year gt 1824}">m:</label>
          <input type="text" class="form-control form-control-small integer-field required spacing"
                 th:field="*{milReg.meter}" hsn:field="milReg.meter"/>
        </div>

        <div class="form-group spacing">
          <label class="control-label" th:if="${akte.mil.militionId.year le 1824}">palm:</label>
          <label class="control-label" th:if="${akte.mil.militionId.year gt 1824}">dm:</label>
          <input type="text" class="form-control form-control-small integer-field required spacing"
                 th:field="*{milReg.decimeter}" hsn:field="milReg.decimeter"/>
        </div>

        <div class="form-group spacing">
          <label class="control-label" th:if="${akte.mil.militionId.year le 1824}">duim:</label>
          <label class="control-label" th:if="${akte.mil.militionId.year gt 1824}">cm:</label>
          <input type="text" class="form-control form-control-small integer-field required spacing"
                 th:field="*{milReg.centimeter}" hsn:field="milReg.centimeter"/>
        </div>

        <div class="form-group spacing">
          <label class="control-label" th:if="${akte.mil.militionId.year le 1824}">streep:</label>
          <label class="control-label" th:if="${akte.mil.militionId.year gt 1824}">mm:</label>
          <input type="text" class="form-control form-control-small integer-field required spacing"
                 th:field="*{milReg.millimeter}" hsn:field="milReg.millimeter"/>
        </div>
      </div>
    </div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-3 control-label">Aangezicht:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.face}" hsn:field="milReg.face"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Voorhoofd:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.forehead}" hsn:field="milReg.forehead"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Ogen:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.eyes}" hsn:field="milReg.eyes"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Neus:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.nose}" hsn:field="milReg.nose"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Mond:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.mouth}" hsn:field="milReg.mouth"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Kin:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.chin}" hsn:field="milReg.chin"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Haar:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.hair}" hsn:field="milReg.hair"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Wenkbrauwen:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.eyebrows}" hsn:field="milReg.eyebrows"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Merkbare tekenen:</label>

      <div class="col-xs-4">
        <input type="text" class="form-control" th:field="*{milReg.notableSigns}" hsn:field="milReg.notableSigns"/>
      </div>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>