<!DOCTYPE html>
<html layout:decorator="formViewLayout">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">MILITIE GEGEVENS LOTELING:</div>

    <div class="form-group extra-top-margin">
      <div class="row">
        <label class="col-xs-3 control-label">
          Aangifte:
        </label>

        <label class="col-xs-5 control-label left">
          1 = Loteling heeft zichzelf aangegeven
        </label>
      </div>

      <div class="row">
        <label class="col-xs-offset-3 col-xs-5 control-label left">
          2 = Loteling is door iemand anders aangegeven
        </label>
      </div>

      <div class="row">
        <label class="col-xs-offset-3 col-xs-5 control-label left">
          3 = Loteling is door de gemeente aangegeven
        </label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit form-integer required"
                 maxlength="1" data-valid-chars="1;2;3" th:field="*{mil.declaration}" hsn:field="mil.declaration"/>
        </div>
      </div>
    </div>

    <th:block th:if="${akte.is1815() or akte.isOtherYear()}">
      <div class="form-group extra-top-margin">
        <label class="col-xs-5 control-label">Behoorde tot vroegere klassen? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{mil.formerClass}" hsn:field="mil.formerClass"/>
        </div>
      </div>

      <div class="form-group" data-show-when="#mil\.formerClass" data-has-values-in="j" style="display:none;">
        <label class="col-xs-5 control-label">Waarom onderdeel van deze klasse?</label>

        <div class="col-xs-5">
          <input type="text" class="form-control"
                 th:field="*{mil.formerClassReason}" hsn:field="mil.formerClassReason"/>
        </div>
      </div>
    </th:block>

    <th:block th:if="${akte.is1862() or akte.isOtherYear()}">
      <div class="form-group extra-top-margin">
        <label class="col-xs-5 control-label">Bindt zich in vrijwillige dienst? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{mil.voluntaryService}" hsn:field="mil.voluntaryService"/>
        </div>
      </div>

      <div class="form-group" data-show-when="#mil\.voluntaryService" data-has-values-in="j" style="display:none;">
        <label class="col-xs-5 control-label">Waarbij?</label>

        <div class="col-xs-5">
          <input type="text" class="form-control" th:field="*{mil.voluntaryWhere}" hsn:field="mil.voluntaryWhere"/>
        </div>
      </div>
    </th:block>

    <th:block th:if="${!akte.is1913()}">
      <div class="form-group extra-top-margin">
        <label class="col-xs-5 control-label" th:if="${akte.is1815()}">Loteling is gedetineerd? j / n / o</label>
        <label class="col-xs-5 control-label" th:if="${!akte.is1815()}">Bevindt zich in een gesticht? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{mil.inGesticht}" hsn:field="mil.inGesticht"/>
        </div>
      </div>

      <div data-show-when="#mil\.inGesticht" data-has-values-in="j" style="display:none;">
        <div class="form-group">
          <label class="col-xs-5 control-label">Naam gesticht:</label>

          <div class="col-xs-5">
            <input type="text" class="form-control" th:field="*{mil.nameGesticht}" hsn:field="mil.nameGesticht"/>
          </div>
        </div>

        <div class="form-group extra-top-margin">
          <label class="col-xs-5 control-label">Is het gesticht een gevangenis? j / n / o</label>

          <div class="col-xs-2">
            <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                   maxlength="1" th:field="*{mil.commitCrime}" hsn:field="mil.commitCrime"/>
          </div>
        </div>

        <div class="form-group" data-show-when="#mil\.commitCrime" data-has-values-in="j" th:if="${!akte.is1815()}">
          <label class="col-xs-5 control-label">Voor welk delict veroordeeld?</label>

          <div class="col-xs-5">
            <input type="text" class="form-control" th:field="*{mil.whatCrime}" hsn:field="mil.whatCrime"/>
          </div>
        </div>
      </div>
    </th:block>

    <div class="form-group extra-top-margin" th:if="${!akte.is1913()}">
      <label class="col-xs-5 control-label">Als vrijgesteld, waarom?</label>

      <div class="col-xs-5">
        <input type="text" class="form-control"
               th:field="*{mil.reasonsNotIncluded}" hsn:field="mil.reasonsNotIncluded"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is1815() or akte.isOtherYear()}"
         th:classappend="${!akte.is1815()} ? 'extra-top-margin'">
      <label class="col-xs-5 control-label">Verbeteringen opgegeven door militieraad</label>

      <div class="col-xs-5">
        <input type="text" class="form-control"
               th:field="*{mil.militionChairImprovements}" hsn:field="mil.militionChairImprovements"/>
      </div>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>