<!DOCTYPE html>
<html layout:decorator="formViewLayout" th:with="scroll=true"
      xmlns:th="http://www.thymeleaf.org" xmlns:hsn="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">GEGEVENS VERDERE PROCEDURE:</div>

    <div class="form-group extra-top-margin" th:if="${akte.is('1815I', '1862I', '1913I')}">
      <div class="row no-margin">
        <label class="col-xs-3 control-label">
          Aangifte:
        </label>

        <label class="col-xs-6 control-label left">
          1 = Loteling heeft zichzelf aangegeven
        </label>
      </div>

      <div class="row no-margin">
        <label class="col-xs-offset-3 col-xs-6 control-label left">
          2 = Loteling is door iemand anders aangegeven
        </label>
      </div>

      <div class="row no-margin">
        <label class="col-xs-offset-3 col-xs-6 control-label left">
          3 = Loteling is door de gemeente aangegeven
        </label>
      </div>

      <div class="row no-margin">
        <label class="col-xs-offset-3 col-xs-5 control-label left">
          4 = Niet opgegeven in de bron
        </label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit form-integer required"
                 maxlength="1" data-valid-chars="1;2;3;4" th:field="*{mil.declaration}" hsn:field="mil.declaration"/>
        </div>
      </div>
    </div>

    <th:block th:if="${akte.is('1815IL', '1862I')}">
      <div class="form-group extra-top-margin">
        <label class="col-xs-5 control-label">Zijn er aanwijzingen? j / n</label>

        <div class="col-xs-2">
          <input type="text" id="aanwijzingen" class="form-control form-control-digit required"
                 data-valid-chars="j;n" maxlength="1"
                 th:value="${@militieregisterHelper.hasAanwijzingen(akte.mil, akte.isCorrection())}"/>
        </div>
      </div>

      <div data-show-when="#aanwijzingen" data-has-values-in="j" style="display:none;">
        <th:block th:if="${akte.is('1815L', '1862I')}">
          <div class="form-group extra-top-margin">
            <label class="col-xs-5 control-label">Bevindt zich in vrijwillige dienst? j / n / o</label>

            <div class="col-xs-2">
              <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                     maxlength="1" th:field="*{mil.voluntaryService}" hsn:field="mil.voluntaryService"/>
            </div>
          </div>

          <div class="form-group" data-show-when="#mil\.voluntaryService" data-has-values-in="j" style="display:none;">
            <label class="col-xs-5 control-label">Waarbij?</label>

            <div class="col-xs-7">
              <input type="text" class="form-control" th:field="*{mil.voluntaryWhere}" hsn:field="mil.voluntaryWhere"/>
            </div>
          </div>
        </th:block>

        <th:block th:if="${akte.is('1815IL')}">
          <div class="form-group">
            <label class="col-xs-5 control-label">Behoorde tot een eerdere lichting? j / n</label>

            <div class="col-xs-2">
              <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
                     id="eerdereLichting" maxlength="1"
                     th:value="${@militieregisterHelper.hasEerdereLichting(akte.mil, akte.isCorrection())}"/>
            </div>
          </div>

          <div class="form-group" data-show-when="#eerdereLichting" data-has-values-in="j" style="display:none;">
            <label class="col-xs-5 control-label">Welke eerdere lichting?</label>

            <div class="col-xs-5">
              <input type="text" class="form-control" th:field="*{mil.formerClass}" hsn:field="mil.formerClass"/>
            </div>
          </div>

          <div class="form-group" data-show-when="#eerdereLichting" data-has-values-in="j" style="display:none;">
            <label class="col-xs-5 control-label">Waarom onderdeel van deze lichting?</label>

            <div class="col-xs-7">
              <input type="text" class="form-control"
                     th:field="*{mil.formerClassReason}" hsn:field="mil.formerClassReason"/>
            </div>
          </div>
        </th:block>

        <th:block th:if="${akte.is('1815L')}">
          <div class="form-group">
            <label class="col-xs-5 control-label">Aan hoofd lotingslijst geplaatst? j / n / o</label>

            <div class="col-xs-2">
              <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                     maxlength="1" th:field="*{mil.headOfList}" hsn:field="mil.headOfList"/>
            </div>
          </div>
        </th:block>

        <th:block th:if="${akte.is('1815L')}">
          <div class="form-group">
            <label class="col-xs-5 control-label">Buitenstaat dienst gesteld? j / n / o</label>

            <div class="col-xs-2">
              <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                     maxlength="1" th:field="*{mil.outStateService}" hsn:field="mil.outStateService"/>
            </div>
          </div>
        </th:block>

        <th:block th:if="${akte.is('1815IL', '1862I')}">
          <div class="form-group">
            <label class="col-xs-5 control-label" th:if="${akte.mil.is1815()}">Loteling is gedetineerd? j / n / o</label>
            <label class="col-xs-5 control-label" th:if="${!akte.mil.is1815()}">Bevindt zich in een gesticht? j / n / o</label>

            <div class="col-xs-2">
              <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                     maxlength="1" th:field="*{mil.inGesticht}" hsn:field="mil.inGesticht"/>
            </div>
          </div>

          <div data-show-when="#mil\.inGesticht" data-has-values-in="j" style="display:none;">
            <div class="form-group">
              <label class="col-xs-5 control-label">Naam gesticht:</label>

              <div class="col-xs-7">
                <input type="text" class="form-control" th:field="*{mil.nameGesticht}" hsn:field="mil.nameGesticht"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-5 control-label">Is het gesticht een gevangenis? j / n / o</label>

              <div class="col-xs-2">
                <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                       maxlength="1" th:field="*{mil.inJail}" hsn:field="mil.inJail"/>
              </div>
            </div>

            <div class="form-group" data-show-when="#mil\.inJail" data-has-values-in="j">
              <label class="col-xs-5 control-label" th:if="${akte.is('1815I')} == false">
                Voor welk delict veroordeeld?
              </label>
              <label class="col-xs-5 control-label" th:if="${akte.is('1815I')}">
                Delict? (Zie aanmerkingen)
              </label>

              <div class="col-xs-7">
                <input type="text" class="form-control" th:field="*{mil.whatCrime}" hsn:field="mil.whatCrime"/>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </th:block>

    <th:block th:if="${akte.is('1815L', '1862IL', '1913IAL')}">
      <div class="form-group extra-top-margin">
        <label class="col-xs-8 control-label">Is er sprake van vrijstelling? (Of aanvraag daarvoor?) j / n</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
                 maxlength="1" id="includesExemption" name="includesExemption"
                 th:value="${@militieregisterHelper.hasExemption(akte)}"/>
        </div>
      </div>

      <div class="form-group" th:if="${akte.is('1913AL')}">
        <label class="col-xs-8 control-label">Uitspraak geschiktheid? (Na medisch advies) j / n</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
                 maxlength="1" id="includesMedical" name="includesMedical"
                 th:value="${@militieregisterHelper.hasMedical(akte)}"/>
        </div>
      </div>

      <div class="form-group" th:if="${akte.is('1815L', '1862L')}">
        <label class="col-xs-8 control-label">Is er sprake van uitstel? (Of aanvraag daarvoor?) j / n</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
                 maxlength="1" id="includesDelay" name="includesDelay"
                 th:value="${@militieregisterHelper.hasDelay(akte)}"/>
        </div>
      </div>

      <div class="form-group" th:if="${akte.is('1815L', '1862L', '1913A')}">
        <label class="col-xs-8 control-label">Is er sprake van uitstel van de beslissing door de militieraad? j / n</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
                 maxlength="1" id="includesDelayMilition" name="includesDelayMilition"
                 th:value="${@militieregisterHelper.hasDelayMilition(akte)}"/>
        </div>
      </div>

      <div class="form-group" th:if="${akte.is('1815L', '1862L', '1913AL')}">
        <label class="col-xs-8 control-label">Is er op enige manier sprake van beroep? j / n</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n"
                 maxlength="1" id="includesAppeal" name="includesAppeal"
                 th:value="${@militieregisterHelper.hasAppeal(akte)}"/>
        </div>
      </div>
    </th:block>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>