<!DOCTYPE html>
<html layout:decorator="formViewLayout">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">MILITIE GEGEVENS LOTELING:</div>

    <th:block th:if="${!akte.is1862()}">
      <div class="form-group extra-top-margin" th:if="${akte.is1817()}">
        <label class="col-xs-5 control-label">Ingeschreven vrijwilliger? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{milReg.voluntaryService}" hsn:field="milReg.voluntaryService"/>
        </div>
      </div>

      <div class="form-group" th:classappend="${!akte.is1817()} ? 'extra-top-margin'">
        <label class="col-xs-5 control-label">Behoorde tot vroegere klassen? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{milReg.formerClass}" hsn:field="milReg.formerClass"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-5 control-label">Aan hoofd lotingslijst geplaatst? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{milReg.headOfList}" hsn:field="milReg.headOfList"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-5 control-label">Buitenstaat dienst gesteld? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{milReg.outStateService}" hsn:field="milReg.outStateService"/>
        </div>
      </div>
    </th:block>

    <div class="form-group" th:classappend="${!akte.is1817()} ? 'extra-top-margin'">
      <label class="col-xs-5 control-label" th:if="${akte.is1817()}">Loteling is gedetineerd? j / n / o</label>
      <label class="col-xs-5 control-label" th:if="${!akte.is1817()}">Bevindt zich in een gesticht? j / n / o</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
               maxlength="1" th:field="*{milReg.inGesticht}" hsn:field="milReg.inGesticht"/>
      </div>
    </div>

    <th:block th:if="${!akte.is1817()}">
      <div data-show-when="#milReg\.inGesticht" data-has-values-in="j" style="display:none;">
        <div class="form-group">
          <label class="col-xs-5 control-label">Naam gesticht:</label>

          <div class="col-xs-4">
            <input type="text" class="form-control" th:field="*{milReg.nameGesticht}" hsn:field="milReg.nameGesticht"/>
          </div>
        </div>

        <div class="form-group extra-top-margin">
          <label class="col-xs-5 control-label">Is het gesticht een gevangenis? j / n / o</label>

          <div class="col-xs-2">
            <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                   maxlength="1" th:field="*{milReg.commitCrime}" hsn:field="milReg.commitCrime"/>
          </div>
        </div>

        <div class="form-group" data-show-when="#milReg\.commitCrime" data-has-values-in="j">
          <label class="col-xs-5 control-label">Voor welk delict veroordeeld?</label>

          <div class="col-xs-4">
            <input type="text" class="form-control" th:field="*{milReg.whatCrime}" hsn:field="milReg.whatCrime"/>
          </div>
        </div>
      </div>

      <div class="form-group extra-top-margin">
        <label class="col-xs-5 control-label">Bindt zich in vrijwillige dienst? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{milReg.voluntaryService}" hsn:field="milReg.voluntaryService"/>
        </div>
      </div>

      <div class="form-group" data-show-when="#milReg\.voluntaryService" data-has-values-in="j">
        <label class="col-xs-5 control-label">Waarbij?</label>

        <div class="col-xs-4">
          <input type="text" class="form-control" th:field="*{milReg.voluntaryWhere}" hsn:field="milReg.voluntaryWhere"/>
        </div>
      </div>
    </th:block>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>