<!DOCTYPE html>
<html layout:decorator="formViewLayout" th:with="scroll=true">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">VRIJSTELLING:</div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-6 control-label">Aangevoerde redenen door loteling:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.reasonsExemption}" hsn:field="mil.reasonsExemption"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1815')}">
      <label class="col-xs-6 control-label">Aangevoerde redenen door militieraad:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.reasonsInapplicability}" hsn:field="mil.reasonsInapplicability"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1913')}">
      <label class="col-xs-6 control-label">Redenen uit het verleden:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.earlierDecisions}" hsn:field="mil.earlierDecisions"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-6 control-label">Advies van de militieraad (definitieve reden vrijstelling):</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.advice}" hsn:field="mil.advice"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1913')}">
      <label class="col-xs-6 control-label">Medisch advies op de keuringsraad:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.medicalAdvice}" hsn:field="mil.medicalAdvice"/>
      </div>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>