<!DOCTYPE html>
<html layout:decorator="formViewLayout" th:with="scroll=true">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">VRIJSTELLING:</div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-6 control-label" th:if="${akte.is('1913I') == false}">
        Aangevoerde redenen door loteling:
      </label>
      <label class="col-xs-6 control-label" th:if="${akte.is('1913I')}">
        Reden tot vrijstelling of uitsluiting:
      </label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.reasonsExemption}" hsn:field="mil.reasonsExemption"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1815')}">
      <label class="col-xs-6 control-label">Aangevoerde redenen door militieraad:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.reasonsInapplicability}" hsn:field="mil.reasonsInapplicability"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1913')}">
      <label class="col-xs-6 control-label" th:if="${akte.is('1913I') == false}">
        Redenen uit het verleden:
      </label>
      <label class="col-xs-6 control-label" th:if="${akte.is('1913I')}">
        Door wie vroegere uitspraak gedaan:
      </label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.earlierDecisions}" hsn:field="mil.earlierDecisions"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1815', '1862', '1913AL')}">
      <label class="col-xs-6 control-label">Advies van de militieraad (definitieve reden vrijstelling):</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.advice}" hsn:field="mil.advice"/>
      </div>
    </div>

    <div class="form-group" th:if="${akte.is('1913I')}">
      <label class="col-xs-6 control-label">Datum vroegere uitspraak:</label>

      <div
          th:replace="fragments/fields :: datum ('verdictVrijstelling.dayOfVerdict', 'verdictVrijstelling.monthOfVerdict', 'verdictVrijstelling.yearOfVerdict')"></div>
    </div>

    <div class="form-group" th:if="${akte.is('1913I')}">
      <label class="col-xs-6 control-label">Aard der uitspraak:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control"
               th:field="*{verdictVrijstelling.nature}" hsn:field="verdictVrijstelling.nature"/>
      </div>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
</th:block>
</body>
</html>