<!doctype html>
<html layout:decorator="formViewLayout">
<head></head>
<body>
<fieldset>
  <th:block layout:fragment="fields">
    <div class="form-header letter-spacing">UITSTEL:</div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-5 control-label">Heeft de loteling uitstel gekregen? j / n / o</label>

      <div class="col-xs-2">
        <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o" maxlength="1"
               th:field="*{mil.delayOfService}" hsn:field="mil.delayOfService"/>
      </div>
    </div>

    <div class="form-group" data-show-when="#mil\.delayOfService" data-has-values-in="j" style="display:none;">
      <label class="col-xs-4 control-label">Informatie over uitstel:</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.delayInformation}" hsn:field="mil.delayInformation"/>
      </div>
    </div>

    <div class="form-group" data-show-when="#mil\.delayOfService" data-has-values-in="n" style="display:none;">
      <label class="col-xs-4 control-label">Waarom niet?</label>

      <div class="col-xs-5">
        <input type="text" class="form-control" th:field="*{mil.delayDecision}" hsn:field="mil.delayDecision"/>
      </div>
    </div>

    <th:block th:if="${!akte.is1913()}">
      <div class="form-header letter-spacing extra-top-margin">PLAATSVERVANGER:</div>

      <div class="form-group extra-top-margin">
        <div class="row">
          <label class="col-xs-3 control-label">
            Aanstelling:
          </label>

          <label class="col-xs-5 control-label left">
            p = Loteling heeft plaatsvervanger aangesteld
          </label>
        </div>

        <div class="row">
          <label class="col-xs-offset-3 col-xs-5 control-label left">
            w = Loteling heeft nummer verwisseld
          </label>
        </div>

        <div class="row">
          <label class="col-xs-offset-3 col-xs-5 control-label left">
            n = Niet van toepassing
          </label>

          <div class="col-xs-2">
            <input type="text" class="form-control form-control-digit required" maxlength="1" data-valid-chars="p;w;n"
                   th:field="*{mil.substitute}" hsn:field="mil.substitute"/>
          </div>
        </div>
      </div>

      <div data-show-when="#mil\.substitute" data-has-values-in="p;w" style="display:none;">
        <div class="form-group extra-top-margin" th:if="${!akte.is1815()}">
          <label class="col-xs-3 control-label">Achternaam:</label>

          <div class="col-xs-4">
            <input type="text" class="form-control"
                   th:field="*{mil.familyNameSubstitute}" hsn:field="mil.familyNameSubstitute"/>
          </div>
        </div>

        <div class="form-group" th:if="${!akte.is1815()}">
          <label class="col-xs-3 control-label">Voornamen:</label>

          <div class="col-xs-4">
            <input type="text" class="form-control"
                   th:field="*{mil.firstNameSubstitute}" hsn:field="mil.firstNameSubstitute"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label">Nummer op register AA:</label>

          <div class="col-xs-2">
            <input type="text" class="form-control form-control-small integer-field"
                   th:field="*{mil.substituteNumber}" hsn:field="mil.substituteNumber"/>
          </div>
        </div>
      </div>
    </th:block>

    <th:block th:if="${!akte.is1815()}">
      <div class="form-header letter-spacing extra-top-margin">AANSTELLING BEPALING:</div>

      <div class="form-group extra-top-margin" th:if="${akte.is1862() or akte.isOtherYear()}">
        <label class="col-xs-7 control-label">Heeft loteling voor zeemilitie aangeleverd? j / n / o</label>

        <div class="col-xs-2">
          <input type="text" class="form-control form-control-digit required" data-valid-chars="j;n;o"
                 maxlength="1" th:field="*{mil.inNaval}" hsn:field="mil.inNaval"/>
        </div>
      </div>

      <th:block th:if="${akte.is1913() or akte.isOtherYear()}">
        <div class="form-group extra-top-margin">
          <label class="col-xs-4 control-label">Wens loteling korps / positie:</label>

          <div class="col-xs-5">
            <input type="text" class="form-control"
                   th:field="*{mil.wishOfRecruit}" hsn:field="mil.wishOfRecruit"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-4 control-label">1e geschikte korps / positie:</label>

          <div class="col-xs-5">
            <input type="text" class="form-control"
                   th:field="*{mil.firstSuitability}" hsn:field="mil.firstSuitability"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-4 control-label">2e geschikte korps / positie:</label>

          <div class="col-xs-5">
            <input type="text" class="form-control"
                   th:field="*{mil.secondSuitability}" hsn:field="mil.secondSuitability"/>
          </div>
        </div>
      </th:block>
    </th:block>

    <th:block th:if="${!akte.is1913()}">
      <div class="form-header letter-spacing extra-top-margin">AANSTELLING:</div>

      <div class="form-group extra-top-margin">
        <label class="col-xs-3 control-label">Korps / Positie inlijving:</label>

        <div class="col-xs-5">
          <input type="text" class="form-control"
                 th:field="*{mil.positionAnnexation}" hsn:field="mil.positionAnnexation"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Datum van inlijving:</label>

        <div th:replace="fragments/fields :: datum ('mil.dayOfAnnexation', 'mil.monthOfAnnexation', 'mil.yearOfAnnexation')"></div>
      </div>
    </th:block>

    <div class="form-header letter-spacing extra-top-margin">AANMERKINGEN:</div>

    <div class="form-group extra-top-margin">
      <label class="col-xs-3 control-label">Aamerkingen:</label>

      <div class="col-xs-6">
        <textarea class="form-control form-control-small" th:field="*{mil.remarks}" hsn:field="mil.remarks">
        </textarea>
      </div>
    </div>

    <div th:replace="militie/byz-fragment :: byzModal"></div>
  </th:block>
</fieldset>

<div class="well well-sm" layout:fragment="title" th:include="militie/MSTITEL :: MSTITEL-SIDE"></div>

<div layout:fragment="info" th:include="militie/MSINFO :: MSINFO"></div>

<fieldset layout:fragment="navigation" th:include="fragments/navigation :: navigation-byz-modal (false, true)"></fieldset>

<th:block layout:fragment="js">
  <script src="../../static/js/militie/info.js" hsn:src="@{/js/militie/info.js}"></script>
  <script src="../../static/js/militie/MS7.js" hsn:src="@{/js/militie/MS7.js}"></script>
</th:block>
</body>
</html>