<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="MSINFO">
  <div class="well well-sm info info-plaats" style="display:none;">
    <ul>
      <li><strong>!</strong> &nbsp; hierna volgt een gemeentenaam</li>
      <li><strong>%</strong> &nbsp; hierna volgt de naam van een provincie</li>
      <li><strong>$</strong> &nbsp; hierna volgt de naam van het buitenland</li>
      <li><strong>*</strong> &nbsp; hierna volgt een buurtschap</li>
      <li><strong>/</strong> &nbsp; hierna volgt een adres</li>
      <li><strong>&amp;</strong> &nbsp; hierna volgt een bevolkingsadministratief gegeven</li>
    </ul>

    <p>
      Voor de volgorde waarin u de verschillende locatie-aanduidingen overneemt, gaat u uit van de bron. Enige
      voorbeelden van ingevulde woonplaatslocaties (het maakt voor het programma niet uit of u een spatie opneemt of
      niet):
    </p>

    <ul>
      <li>Kaatsheuvel !Loon op Zand</li>
      <li>Kaatsheuvel *Heikant /C35 !Loon op Zand</li>
      <li>Londen $Engeland</li>
      <li>Epe %Gl</li>
      <li>Arnemuiden /B 22</li>
      <li>Alkmaar &amp;GK Piet Jansen</li>
    </ul>
  </div>

  <div class="well well-sm info info-anaam" style="display:none;">
    <p>De structuur van het 'achternamenveld' is als volgt:</p>

    <p><code>Achternaam, voorvoegsel$ patroniem! titel</code></p>

    <p>
      Een achternaam wordt altijd ingevuld, de overige elementen alleen als dit nodig is.
      Dit geeft de volgende mogelijke combinaties:
    </p>

    <ul>
      <li>Achternaam</li>
      <li>Achternaam, voorvoegsel</li>
      <li>Achternaam$ patroniem</li>
      <li>Achternaam! titel</li>
      <li>Achternaam$ patroniem! titel</li>
      <li>Achternaam, voorvoegsel$ patroniem</li>
      <li>Achternaam, voorvoegsel! titel</li>
      <li>Achternaam, voorvoegsel$ patroniem! titel</li>
    </ul>
  </div>

  <div class="well well-sm info info-vnaam" style="display:none;">
    <p>
      Alle voornamen worden in één veld geplaatst. De voornamen worden gescheiden door een spatie. Indien u met de
      lengte niet uitkomt, dan zet u een '#' aan het eind van het veld en vermeldt u bij bijzonderheden de volledige
      voornaam.
    </p>
  </div>

  <div class="well well-sm info info-beroep" style="display:none;">
    <p>
      Past het volledige beroep niet op de regel dan moet met behulp van het '#'-teken en het bijzonderhedenscherm het
      beroep volledig worden overgenomen.
    </p>

    <p>Voor de volgende vermeldingen behoeft alleen een 'Z' te worden ingevoerd:</p>

    <ul>
      <li>Geen</li>
      <li>Geen beroep</li>
      <li>Zonder</li>
      <li>Zonder beroep</li>
      <li>Buiten beroep</li>
    </ul>

    <p>
      Als er helemaal niets staat (blanco veld), dan wordt een 'N' ingetikt. Een veel voorkomend verschijnsel zijn de
      zogenaamde 'dubbele beroepen'. Deze dubbele beroepen moet u als één beroep beschouwen en als zodanig overnemen.
    </p>
  </div>
</div>
</body>
</html>